﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="hero-unit">
            <h2>公告</h2>
            <p>無公告通知</p>
            <p><a class="btn">Go to check&raquo;</a></p>
          </div>


@*@{
    
    var s = admin.Service.AccountService.GetBySN(User.Identity.Name).GetRoles();

    foreach (var i in s)
    {
        
        @i <text>,</text>
    }
}

<br />

@User.IsInRole("總經理")*@