﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <form method="post" action="@Url.Content("~/app/customer/create")">
            <input type="text" name="token" value="426db7a48985ed40d7b2173acf6ddd4beaa57e6d00880636abed7478c886f38a" /><br />
            <input type="submit" value="送出" />
        </form>
    </div>
</body>
</html>
