﻿@model admin.Models.CVRPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="well form-inline">
    @using (Html.BeginForm("Cvr", "Reports", null, FormMethod.Get))
    {
        <span>年度 </span> @Html.TextBoxFor(p => p.Year, new { @class = "span1"})
        <span>業務編號 </span>@Html.TextBoxFor(p => p.EmpId, new { @class = "span2"})
        <input type="submit" class="btn" value="查詢" />
    }
</div>

@if (Model.ByYearData != null)
{
    <h2>報表</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>級等</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByYearData)
                {
                    var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                            { "year", Model.Year },
                            { "empid", Model.EmpId},
                            { "rating", item.Rating },
                        }).VirtualPath;
                       
                    <tr>
                        <td>
                            <a href="@Url.Content(t)">
                                @item.Rating
                            </a>
                        </td>
                        <td>@item.Times</td>
                        <td>@item.LastYearTimes</td>
                    </tr>
                }
        </tbody>
    </table>
}
else if (Model.ByYearRatingData != null)
{
    if (Model.Rating > 0)
    {
    <h4>等級:@Model.Rating</h4>
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>月份</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByYearRatingData)
                {
                    <tr>
                        <td>
                            @item.Month
                        </td>
                        <td>@item.Times</td>
                        <td>@item.LastYearTimes</td>
                    </tr>
                }
        </tbody>
    </table>
    
}
else if (Model.ByMonthRatingData != null)
{
    <h4>等級:@Model.Rating, 月份:@Model.Month</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>月份</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByMonthRatingData)
                {
                    <tr>
                        <td>
                            @item.Day
                        </td>
                        <td>@item.Times</td>
                        <td>@item.LastYearTimes</td>
                    </tr>
                }
        </tbody>
    </table>
}

