﻿@model admin.Models.CVTPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well form-inline">
    @using (Html.BeginForm("Cvt" + Model.Type, "Reports", null, FormMethod.Get))
    {
        @Html.HiddenFor(p => p.Type)
        <span>年度 </span> @Html.TextBoxFor(p => p.Year, new { @class = "span1"})
        <span>業務編號 </span>@Html.TextBoxFor(p => p.EmpId, new { @class = "span2"})
        <input type="submit" class="btn" value="查詢" />
    }
</div>

@if (Model.ByYearData != null)
{
    <h3>報表</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>月份</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model.ByYearData)
            {
                var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "year", Model.Year },
                        { "month", item.Month },
                        { "empid", Model.EmpId},
                        { "type", item.Type },
                    }).VirtualPath;
                   
                <tr>
                    <td>
                        <a href="@Url.Content(t)">
                            @string.Format("{0}/{1}", item.Year, item.Month)
                        </a>
                    </td>
                    <td>@item.Times</td>
                    <td>@item.LastYearTimes</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.ByMonthData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>日期</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByMonthData)
                {
                    <tr>
                        <td>
                            @string.Format("{0}/{1:00}", item.YearM, item.Day)
                        </td>
                        <td>@item.Times</td>
                        <td>@item.LastYearTimes</td>
                    </tr>
                }
        </tbody>
    </table>
    
}