﻿@model admin.Models.KpiPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style type="text/css">
    .hd01, .hd02 { background-color: #29194a; color:white }
    .table-bordered td { text-align:center; }
</style>

<div class="well form-inline">
    @using (Html.BeginForm("Kpi", "Reports", null, FormMethod.Get))
    {
        <span>年度 </span> @Html.TextBoxFor(p => p.Year, new { @class = "span1" })
        @*<select name="Month">
            @for (int i = 0; i < 12; i++)
			{
                int m = i + 1;
                <option value="@m"@(Model.Month==m ? "selected=selected":"")>@m</option>
			}
        </select>*@
        <input type="submit" class="btn" value="查詢" />
    }
</div>

@if (Model.ByYearData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width: 50px" rowspan="2">業務人員</td>
                @foreach (var rootItem in Model.ByYearData.GroupBy(p => new { p.ItemId, p.RootItem }))
                {
                    var t = ViewContext.RouteData.Route.GetVirtualPath(
                           ViewContext.RequestContext,
                            new RouteValueDictionary() { 
                            { "year", Model.Year },
                            { "empid", Model.EmpId },
                            { "kpiitemid", rootItem.Key.ItemId }
                        }).VirtualPath;
                    <td colspan="2">
                        <a href="@Url.Content("~/" + t)">
                             @rootItem.Key.RootItem</a>
                    </td>
                }   
            </tr>
            <tr>
                @foreach (var rootItem in Model.ByYearData.GroupBy(p => new { p.ItemId, p.RootItem }))
                {
                    <td class="hd01">業績</td>
                    <td class="hd02">去年同期</td>
                }
            </tr>
        </thead>
        <tbody>
            @{
                var emp_group = from p in Model.ByYearData
                                group p by new { p.EmpSN } into g
                                select new
                                {
                                    EmpSN = g.Key.EmpSN
                                };
            }
            @foreach (var emp in emp_group)
            {
                <tr>
                    <td>@emp.EmpSN</td>
                    @foreach (var rootItem in Model.ByYearData.GroupBy(p => new { p.ItemId, p.RootItem }))
                    {
                       


                        var _amt = Model.ByYearData.Where(p => p.EmpSN == emp.EmpSN
                            && p.ItemId == rootItem.Key.ItemId).Sum(p => p.Amt);

                        var _lastAmt = Model.ByYearData.Where(p => p.EmpSN == emp.EmpSN
                            && p.ItemId == rootItem.Key.ItemId).Sum(p => p.LastYearAmt);
                        <td>@_amt</td>
                        <td>@_lastAmt</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.ByItemData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width: 50px" rowspan="2">業務人員</td>
                @foreach (var rootItem in Model.ByItemData.GroupBy(p => p.ChildItem))
                {
                    
                    <td colspan="2">@rootItem.Key</td>
                }
            </tr>
            <tr>
                @foreach (var rootItem in Model.ByItemData.GroupBy(p => p.ChildItem))
                {
                    <td>業績</td>
                    <td>去年同期</td>
                }
            </tr>
        </thead>

        <tbody>
            @{
                var emp_group = from p in Model.ByItemData
                                group p by new { p.EmpSN } into g
                                select new
                                {
                                    EmpSN = g.Key.EmpSN
                                };
            }

            @foreach (var emp in emp_group)
            {
                <tr>
                    <td>@emp.EmpSN</td>
                    @foreach (var _item in Model.ByItemData.GroupBy(p => new { p.ChildItem }))
                    {
                        var _amt = Model.ByItemData.Where(p => p.EmpSN == emp.EmpSN
                            && p.ChildItem == _item.Key.ChildItem).Sum(p => p.Amt);

                        var _lastAmt = Model.ByItemData.Where(p => p.EmpSN == emp.EmpSN
                            && p.ChildItem == _item.Key.ChildItem).Sum(p => p.LastYearAmt);
                        <td>@_amt</td>
                        <td>@_lastAmt</td>
                    }
                </tr>
            }

            @* @foreach (var item in Model.ByItemData)
                {
                    var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                            { "year", Model.Year },
                            { "empid", Model.EmpId},
                            { "month", item.Month },
                            { "kpiitemid", item.ItemId }
                        }).VirtualPath;
                       
                    <tr>
                        <td>
                            <a href="@Url.Content(t)">
                                @item.Month
                            </a>
                        </td>
                        <td>@item.Estimate</td>
                        <td>@item.Amt</td>
                        <td>@item.LastYearAmt</td>
                    </tr>
                }*@
        </tbody>
    </table>
}
else if (Model.ByMonthData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>日期</td>
                <td>實際業績</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ByMonthData)
            {
                <tr>
                    <td>@item.Day</td>
                    <td>@item.Amt</td>
                    <td>@item.LastYearAmt</td>
                </tr>
            }
        </tbody>
    </table>
}