﻿@model admin.Models.KpiPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="well form-inline">
    @using (Html.BeginForm("Kpi", "Reports", null, FormMethod.Get))
    {
        <span>年度 </span> @Html.TextBoxFor(p => p.Year, new { @class = "span1"})
        <select name="Month">
            @for (int i = 0; i < 12; i++)
			{
                int m = i + 1;
                <option value="@m"@(Model.Month==m ? "selected=selected":"")>@m</option>
			}
        </select>
        <input type="submit" class="btn" value="查詢" />
    }
</div>
@*        <span>業務編號 </span>@Html.TextBoxFor(p => p.EmpId, new { @class = "span2"})*@

@if (Model.ByYearData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>業務人員</td>
                <td>業績</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ByYearData)
            {
                var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "year", Model.Year },
                        { "empid", Model.EmpId },
                        { "kpiitemid", item.ItemId }
                    }).VirtualPath;
                   
                <tr>
                    <td>
                        <a href="@Url.Content(t)">
                            @item.RootItem / @item.ChildItem
                        </a>
                    </td>
                    <td>@item.Amt</td>
                    <td>@item.LastYearAmt</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.ByItemData != null)
{
     <table class="table table-bordered">
        <thead>
            <tr>
                <td>月份</td>
                <td>預估值</td>
                <td>實際值</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByItemData)
                {
                    var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                            { "year", Model.Year },
                            { "empid", Model.EmpId},
                            { "month", item.Month },
                            { "kpiitemid", item.ItemId }
                        }).VirtualPath;
                       
                    <tr>
                        <td>
                            <a href="@Url.Content(t)">
                                @item.Month
                            </a>
                        </td>
                        <td>@item.Estimate</td>
                        <td>@item.Amt</td>
                        <td>@item.LastYearAmt</td>
                    </tr>
                }
        </tbody>
    </table>
}
else if (Model.ByMonthData != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>日期</td>
                <td>實際業績</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByMonthData)
                {
                    <tr>
                        <td>@item.Day</td>
                        <td>@item.Amt</td>
                        <td>@item.LastYearAmt</td>
                    </tr>
                }
        </tbody>
    </table>
}