﻿@model admin.Models.PFSPage
@{
    ViewBag.Title = "Pfs";
    Layout = "~/Views/Shared/_Layout.cshtml";

} 

<div class="well form-inline">
    @using (Html.BeginForm("Pfs", "Reports", null, FormMethod.Get))
    {
        <span>年度 </span> @Html.TextBoxFor(p => p.Year, new { @class = "span1"})
        <span>業務編號 </span>@Html.TextBoxFor(p => p.EmpId, new { @class = "span2"})
        <span>品牌 </span>
        <select name="Brand">
            <option @((Model.Brand == "KMS")? "selected='selected'":"") value="KMS">KMS</option> 
            <option @((Model.Brand == "GOLDWELL")? "selected='selected'":"") value="GOLDWELL">GOLDWELL</option> 
        </select>
        <input type="submit" class="btn" value="查詢" />
    }
</div>

@if (Model.ByYearData.Count() > 0)
{

    decimal[] d1 = Model.ByYearData.Select(p => p.TargetAmt).ToArray();
    decimal[] d2 = Model.ByYearData.Select(p => p.LastYearAmt).ToArray();
    decimal[] d3 = Model.ByYearData.Select(p => p.ActualAmt).ToArray();
    string sss1 = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(d1);
    string sss2 = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(d2);
    string sss3 = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(d3);

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    @*

    <h3>圖表</h3>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    
    <script type="text/javascript">
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'column'
                    },
                    title: {
                        text: '業績統計'
                    },
                    subtitle: {
                        text: '@Model.Year - @Model.Brand - @Model.EmpId'
                    },
                    xAxis: {
                        categories: [
                            '1月',
                            '2月',
                            '3月',
                            '4月',
                            '5月',
                            '6月',
                            '7月',
                            '8月',
                            '9月',
                            '10月',
                            '11月',
                            '12月'
                        ]
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '業績(NT)'
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        backgroundColor: '#FFFFFF',
                        align: 'left',
                        verticalAlign: 'top',
                        x: 100,
                        y: 70,
                        floating: true,
                        shadow: true
                    },
                    tooltip: {
                        formatter: function () {
                            return '' +
                                this.x + ': ' + this.y + ' NT';
                        }
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '業績目標額',
                        data: @sss1

                    }, {
                        name: '去年同期',
                        data: @sss2
                    }, {
                        name: '實際業績', 
                        data: @sss3
                    }]
                });
            });

        });

    </script>*@

    <h3>報表</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>月份</td>
                <td>業績目標額</td>
                <td>實際業績</td>
                <td>業績達成率</td>
                <td>去年同期</td>
                <td>同期差異</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByYearData)
                {
                    var t = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                            { "year", Model.Year },
                            { "brand", Model.Brand },
                            { "empid", Model.EmpId},
                            { "month", item.Month },
                        }).VirtualPath;
                       
                    <tr>
                        <td>
                            <a href="@Url.Content(t)">
                                @item.Month
                            </a>
                        </td>
                        <td>@item.TargetAmt</td>
                        <td>@item.ActualAmt</td>
                        @if (item.TargetAmt < 1)
                        {
                            <td>0 %</td>
                        }
                        else
                        {
                            <td> @((decimal)item.ActualAmt / (decimal)item.TargetAmt * (decimal)100) %</td>
                        }
                        <td>@item.LastYearAmt</td>
                        <td> @(item.LastYearAmt  - item.ActualAmt)</td>
                    </tr>
                }
        </tbody>
    </table>
}
else if (Model.ByMonthData.Count() > 0)
{
    if (Model.Month > 0)
    {
    <h4>@Model.Month 月份</h4>
    }
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>日期</td>
                <td>業績目標額</td>
                <td>實際業績</td>
                <td>業績達成率</td>
                <td>去年同期</td>
                <td>同期差異</td>
            </tr>
        </thead>
        <tbody>
               @foreach (var item in Model.ByMonthData)
                {
                    <tr>
                        <td>
                            @{
                                string strDateTime = string.Format("{0}{1:00}", item.YearM, item.Day);
                                @DateTime.ParseExact(strDateTime, "yyyyMMdd", System.Globalization.CultureInfo.CurrentCulture).ToString("yyyy/MM/dd");
                            }
                        </td>
                        <td>@item.TargetAmt</td>
                        <td>@item.ActualAmt</td>
                        @if (item.TargetAmt < 1)
                        {
                            <td>0 %</td>
                        }
                        else
                        {
                            <td> @((decimal)item.ActualAmt / (decimal)item.TargetAmt * (decimal)100) %</td>
                        }
                        <td>@item.LastYearAmt</td>
                        <td> @(item.LastYearAmt  - item.ActualAmt)</td>
                    </tr>
                }
        </tbody>
    </table>
}

