﻿@model admin.Models.SignPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>歌薇管理後台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
    <link href="@Url.Content("~/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <style type="text/css">
        body
        {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin
        {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox
            {
                margin-bottom: 10px;
            }

            .form-signin input[type="text"],
            .form-signin input[type="password"]
            {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }

        .field-validation-error
        {
            color: red;
        }
    </style>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8 text-center">
                <img style="width:800px;height:600px;" src="@Url.Content("~/Content/Images/bg_login.png")" />
            </div>
            <div class="span4">
                <!--Body content-->
                @using (Html.BeginForm("Login", "Account", null, FormMethod.Post, new { @class = "form-signin" }))
                {
                    <h2 class="form-signin-heading">員工編號及密碼</h2>
                    @Html.TextBoxFor(p => p.EmpNo, new { @class = "input-block-level" })
                    @Html.ValidationMessageFor(p => p.EmpNo)
                    @Html.PasswordFor(p => p.EmpPsd, new { @class = "input-block-level" })
                    @Html.ValidationMessageFor(p => p.EmpPsd)
                    <p>
                        <button class="btn" type="submit">登入</button>
                    </p>

                    if (!ViewContext.ViewData.ModelState.IsValid)
                    {
                        if (ViewContext.ViewData.ModelState.Keys.Contains(" "))
                        {
                    <div class="alert">
                        @Html.ValidationMessage(" ")
                    </div>
                        }
                    }

                }


            </div>
        </div>



    </div>
    <!-- /container -->

</body>
</html>
