﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.VisitModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%">
                        客戶編號
					</td>
					<td>
                        @Html.TextBoxFor(p => p.CustomerNumber, new { @class = "span3" })
					</td>
				</tr>

                <tr>
					<td>
                        日期
					</td>
					<td>
                        @Html.TextBoxFor(p => p.strDate, new { @class = "span2", size = "30", placeholder = "yyyy/MM/dd" })
                        @Html.ValidationMessageFor(p => p.strDate)
					</td>
				</tr>

                <tr>
					<td>
                        區間
					</td>
					<td>
                        @Html.TextBoxFor(p => p.strStartTime, new { @class = "span2", size = "1", placeholder = "HH:mm:ss" })
                        @Html.ValidationMessageFor(p => p.strStartTime)
                        @Html.TextBoxFor(p => p.strEndTime, new { @class = "span2", size = "1", placeholder = "HH:mm:ss" })
                        @Html.ValidationMessageFor(p => p.strEndTime)
					</td>
				</tr>

                <tr>
					<td>
                        等級
					</td>
					<td>
                        @Html.TextBoxFor(p => p.Rating, new { @class = "span1", size = "30" })
                        @Html.ValidationMessageFor(p => p.Rating)
					</td>
				</tr>

                <tr>
					<td>
                        備註
					</td>
					<td>
                        @Html.TextAreaFor(p => p.Context)
                        @Html.ValidationMessageFor(p => p.Context)
					</td>
                </tr>
				 

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>