﻿@model admin.Models.VisitListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" },
                        { "SearchText", Model.SearchText }
                    }).VirtualPath;
}
<script type="text/javascript">
    $(function () {
        if (typeof (jamzoo.regauto) == "function") {
            jamzoo.regauto($('#SearchText'), '@Url.Content("~/Customer/SearchByName")', 1);
        }
    });
</script>
<!-- Modal End-->
<div class="well inline">
    @using (Html.BeginForm("List", "VisitLog", FormMethod.Get))
    {
        string excelExportUrl = ViewContext.RouteData.Route.GetVirtualPath(
            ViewContext.RequestContext,
            new RouteValueDictionary()
            {
                { "action", "excelexport" },
                { "SearchText", Model.SearchText }
            }).VirtualPath;
        <p style="margin-bottom:5px">
        <a class="btn" href="@Url.Content(AddUrl)">新增拜訪記錄</a>
        <input id="test12345" type="hidden" name="excelExport" value="" />
        <input onclick="$('#test12345').val('匯出拜訪記錄')" type="submit" value="匯出拜訪記錄" class="btn" />
        </p>
        <p>
        @Html.TextBoxFor(p => p.SearchText, new { @class = "input-medium", style="margin-bottom:0px;", placeholder = "客戶編號" })
        <select name="Month" class="span2" style="margin-bottom:0px">
            <option value="-1">全部</option>
            @for (int i = 0; i < 12; i++)
            {
                <option@(Model.Month == (i + 1) ? " selected=selected ":" ")value="@(i + 1)">@(i + 1)月</option>
            }
        </select>
        <select name="Status" style="margin-bottom:0px">
            <option value="-1">全部</option>
            <option@(Model.Status == 0 ? " selected=selected ":" ")value="0">未拜訪</option>
            <option@(Model.Status == 1 ? " selected=selected ":" ")value="1">已拜訪</option>
            <option@(Model.Status == 2 ? " selected=selected ":" ")value="2">異常</option>
        </select>
        <input onclick="$('#test12345').val('')" type="submit" class="btn" value="查詢" />
        </p>
        
    }
    @{
        if (User.IsInRole("區業務主管"))
        {
            
            @Html.DropDownListFor(p => p.EmpId, Model.MyEmps)
        }
    }
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            @*<th> </th>*@
            <th style="width:150px">客戶編號</th>
            <th>客戶名稱</th>
            <th>所屬業務</th>
            <th>拜訪日期</th>
            @*<th>拜訪類別</th>*@
            <th>內容</th>
            @*<th>狀態</th>*@
            <th>拜訪記錄/<br />
                異常原因</th>
@*            <th style="width:56px"></th>*@
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="8">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Date.ToString() }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Date.ToString() }
                    }).VirtualPath;
                <tr>
                    <td>
                        @{
                            string _url = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext, new RouteValueDictionary() {
                                { "controller", "Customer" },
                                { "action", "edit" },
                                { "id", Row.CustomerNumber }
                            }).VirtualPath;
                        }
                        <a href="@_url">@Row.CustomerNumber</a>
                     
                    </td>
                    <td>客戶名稱</td>
                    <td>
                        @Row.EmpName<text>(@Row.EmpSN)</text>
                    </td>
                    <td>
                        @Row.Date.ToString("yyyy/MM/dd")
                    </td>
                    @*<td>拜訪類別?</td>*@
                    <td>@Row.FromTask</td>
                    @*<td>@Row.Status</td>*@
                    <td>
                        @Row.Context
                        @*<a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            刪除</a>*@
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="8">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        .AddRouteValue("EmpId", Model.EmpId)
        .AddRouteValue("SearchText", Model.SearchText)
        )
    </ul>
</div>