﻿@model List<admin.Models.VisitModel>
@{
    Layout = "~/Views/Shared/_OpenWindowPageLayout.cshtml";
}

    @if (Model != null)
    {
         <table class="table">
            <thead>
                <tr>
                    <td style="width:60px">拜訪日期</td>
                    <td>結果</td>
                    <td style="width:30px"></td>
                </tr>
            </thead>

            <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="3">暫無資料</td>
                </tr>
            }
            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Date.ToString("yyyy/MM/dd")</td>
                    <td>@i.Status</td>
                    <td></td>
                </tr>
            }
            </tbody>

        </table>
    }