﻿@model admin.Models.KpiItemModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                 <tr>
					<td width="20%" class="star1">
						品牌
					</td>
					<td>
                        @Html.HiddenFor(p => p.Id)
                        @Model.Brand
						@Html.HiddenFor(p => p.Brand)
					</td>
				</tr>


                @if (Model.RootId != Guid.Empty)
                {
                <tr>
					<td>
						大類別
					</td>
					<td>
                        @Html.DropDownListFor(p => p.RootId, Model.RootLayer)
					</td>
				</tr>
                }
                
                
				<tr>
					<td>
						名稱
					</td>
					<td>
						@Html.TextBoxFor(p => p.Name, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Name)
                        @Html.HiddenFor(p => p.CreateDate)
					</td>
				</tr>

			

            </tbody>
        </table>
    </div>

	@{
		string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
		
		string _AreaName = null;

        if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
        { 
            _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
            _Controller = _AreaName + "/" + _Controller; 
        }
	}

    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>