﻿@model admin.Models.KpiItemListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "add" },
                        { "SelectBrand" , Model.SelectBrand }
                    }).VirtualPath;
}
@using (Html.BeginForm("List", "KpiItem", FormMethod.Get, new { id = "form_1" }))
{
    <div class="well form-inline">
       
        @Html.DropDownListFor(p => p.SelectBrand, Model.ListBrand)
      
        <script type="text/javascript">
            $(function () {
                $('#SelectBrand').bind('change', function () {
                    $('#form_1').submit();
                });
            });

        </script>
        <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增大類別</a>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th width="100px"> </th>
            <th width="70px">階層</th>
            <th>名稱</th>
            <th width="50px"> </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="4">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Id }
                    }).VirtualPath;
                string AddChildUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "add" },
                        { "rootid" , Row.Id.ToString() },
                        { "SelectBrand" , Model.SelectBrand }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Id }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a class="btn" href="@Url.Content(EditUrl)"> <i class="icon-file"></i></a>
                        <a class="btn" href="@Url.Content(AddChildUrl)"> 新增</a>
                    </td>
                    <td>@Row.Layer</td>
                    <td>@Row.Name</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
                if (Row.Childern != null)
                {
                    foreach (var Child in Row.Childern)
                    {
                        string ChildEditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                            new RouteValueDictionary() { 
                                { "action" , "edit" },
                                { "id" , Child.Id }

                            }).VirtualPath;
                        string ChildDeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                               new RouteValueDictionary() { 
                                    { "action" , "delete" },
                                    { "id" , Child.Id }
                                }).VirtualPath;
                        <tr>
                            <td>
                                <a class="btn" href="@Url.Content(ChildEditUrl)"> <i class="icon-file"></i></a>
                            </td>
                            <td>@Child.Layer</td>
                            <td> |- @Child.Name</td>
                            <td>
                                <a class="btn btn-danger" href="javascript:;"
                                    onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(ChildDeleteUrl)';};"> 
                                    <i class="icon-trash icon-white"></i></a>
                            </td>
                        </tr>
                    }
                }
            }
        }
        else
        {
            <tr class="info">
                <td colspan="4">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@