﻿@using admin.Models;
@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();

    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    {
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller;
    }

    string _action = Request.RequestContext.RouteData.Values["action"].ToString();

}
@model admin.Models.EmployeeModel
<div class="editArea">
    @Html.ValidationSummary(true, "新增失敗")
    @Html.ValidationMessage(" ")
    <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
        <tbody>
            <tr>
                <td width="20%" class="star1">業務人員
                </td>
                <td>
                    @if (_action.ToLower() == "edit" || _action.ToLower() == "update")
                    {
                        @Model.EmpSN
                        @Html.HiddenFor(p => p.EmpSN)
                    }
                    else
                    {
                        @Html.TextBoxFor(p => p.EmpSN, new { @class = "span5", size = "30" })
                        @Html.ValidationMessageFor(p => p.EmpSN)
                    }
                </td>
            </tr>

            
            <tr>
                <td>區域
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Area, new { @class = "span3", size = "30" })
                    @Html.ValidationMessageFor(p => p.Area)
                </td>

            </tr>

            <tr>
                <td>職稱
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Title, new { @class = "span3", size = "30" })
                    @Html.ValidationMessageFor(p => p.Title)
                </td>

            </tr>

            <tr>
                <td>權責
                </td>
                <td>
                    @Html.TextBoxFor(p => p.PermissionTitle, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.PermissionTitle)
                </td>

            </tr>

            <tr>
                <td>部門
                </td>
                <td>
                    @Html.TextBoxFor(p => p.DepName, new { @class = "span3" })
                    @Html.ValidationMessageFor(p => p.DepName)
                </td>
            </tr>

            <tr>
                <td>Sales Code
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesCode, new { @class = "span3" })
                    @Html.ValidationMessageFor(p => p.SalesCode)
                </td>
            </tr>

            <tr>
                <td>主管別
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Manage1, new { @class = "span3", placeholder = "主管別一" })
                    @Html.ValidationMessageFor(p => p.SalesCode)
                    @Html.TextBoxFor(p => p.Manage2, new { @class = "span3", placeholder = "主管別二" })
                    @Html.ValidationMessageFor(p => p.SalesCode)
                    @Html.TextBoxFor(p => p.Manage3, new { @class = "span3", placeholder = "主管別三" })
                    @Html.ValidationMessageFor(p => p.SalesCode)
                </td>
            </tr>

            <tr>
                <td>員工姓名
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Name, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Name)
                </td>
            </tr>



            <tr>
                <td>英文全名
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Name_en, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Name_en)
                </td>
            </tr>

            <tr>
                <td>角色
                </td>
                <td>
                    @{
                        foreach (int Value in Enum.GetValues(typeof(KpssRole)))
                        {
                            string RoleName = Enum.GetName(typeof(KpssRole), Value);
                            bool IsChecked = ((Model.Permission & Value) == Value);
                        <label class="checkbox inline span5">
                            <input @(IsChecked ? "checked=checked" : "") type="checkbox"  name="Permissions" value="@Value" />@RoleName</label> 
                        }
                    }

                </td>
            </tr>

           @* <tr>
                <td>代理人
                </td>
                <td>
                    <div id="agentlist">
                    </div>
                    <script type="text/javascript">
                        var empSN = '@Model.EmpSN';
                        $(function () {
                            if (typeof (jamzoo.regauto) == "function") {
                                jamzoo.regauto($('#Number'), '@Url.Content("~/Customer/SearchByName")', 1);
                            }

                            getAgentsByEmpSN(empSN);
                        });

                        function getAgentsByEmpSN()
                        {
                            $.get(
                                '@Url.Content("~/CustomerAgent/List")', 
                                { empsn : empSN },
                                function(json)
                                {
                                    if (json.RS == 0)
                                    {
                                        for (var i = 0; i < json.data.length; i++) {
                                            addRow(json.data[i].number, json.data[i].customerName);
                                        }
                                    }
                                    else{
                                        alert(json.message);
                                    }
                                }, 
                                "json");
                        }

                        function addRow(number, customerName)
                        {
                            $('#agentlist')
                            .append(
                                $('<div />')
                                    .append(
                                        $('<span />').text(customerName))
                                    .append(
                                        $('<span />').text("(" + number + ")"))
                                    .append(
                                        $('<a />').attr('href', 'javascript:;').text(' 刪除').bind('click', function(){ 
                                            deleteAgentFromEmp(this, number);
                                        })
                                    )
                            );
                        }

                        function addAgentToEmpSN()
                        {
                            var number = $('#Number').val();
                            $.post(
                                '@Url.Content("~/CustomerAgent/Create")',
                                    { empsn : empSN, number : number },
                                    function (json)
                                    {
                                        if (json.RS == 0) {
                                            //OK
                                            addRow(json.data.number, json.data.customerName);
                                            $('#Number').val('');
                                        }
                                        else{
                                            alert(json.message);
                                        }
                                    },
                                    "json");
                            }

                            function deleteAgentFromEmp(sender, number)
                            {
                                $.post(
                                    '@Url.Content("~/CustomerAgent/Delete")',
                                    { empsn : empSN, number : number },
                                    function (json)
                                    {
                                        if (json.RS != 0) {
                                            alert(json.message);
                                        }
                                        else {
                                            $(sender).parent().remove();
                                        }
                                    },
                                    "json");
                            }

                    </script>
                    <input type="text" name="Number" id="Number" />
                    <input type="button" class="btn" value="新增" onclick="addAgentToEmpSN()" />
                </td>
                </tr>*@


                @*<tr>
					<td>
                       Email
					</td>
					<td>
						@Html.TextBoxFor(p => p.Email, new { @class = "span5" })
                        @Html.ValidationMessageFor(p => p.Email)
					</td>
				</tr>

                <tr>
					<td>
                        電話
					</td>
					<td>
						@Html.TextBoxFor(p => p.Tel, new { @class = "span5" })
                        @Html.ValidationMessageFor(p => p.Tel)
					</td>
				</tr>

                <tr>
					<td>
                       手機
					</td>
					<td>
						@Html.TextBoxFor(p => p.Mobile, new { @class = "span5" })
                        @Html.ValidationMessageFor(p => p.Mobile)
					</td>
				</tr>*@

            <tr>
                <td>登入帳號
                </td>
                <td>
                    @Model.EmpSN
                </td>
            </tr>

            <tr>
                <td>
                    Sales Office
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesOffice, new { @class = "span5" })
                    @Html.ValidationMessageFor(p => p.SalesOffice)
                </td>
            </tr>

            <tr>
                <td>
                    Sales Group
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesGroup, new { @class = "span5" })
                    @Html.ValidationMessageFor(p => p.SalesGroup)
                </td>
            </tr>

            <tr>
                <td>
                    Sales Person
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesPerson, new { @class = "span5" })
                    @Html.ValidationMessageFor(p => p.SalesPerson)
                </td>
            </tr>

            <tr>
                <td>
                    Sales Employee
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesEmployee, new { @class = "span5" })
                    @Html.ValidationMessageFor(p => p.SalesEmployee)
                </td>
            </tr>

            @* <tr>
					<td>
                       Device 編號
					</td>
					<td>
                        @Model.DeviceID
					</td>
				</tr>

                 <tr>
					<td>
                        Mac
					</td>
					<td>
                        @Model.Mac
					</td>
				</tr>*@


        </tbody>
    </table>
</div>



<div class="BTNcenter">
    <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
    <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")        ';}">
</div>
