﻿@using admin.Models;
@model admin.Models.EmployeeListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;
}
<!-- Modal -->
<div id="import" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">匯入員工資料</h3>
    </div>
    @using (Html.BeginForm("Import", "Employee", null, FormMethod.Post, 
        new { id ="f1", @class = "form-inline", style = "margin-bottom:0px", enctype = "multipart/form-data", target = "fileupload" })
    )
    {
        <div class="modal-body">
            @*<p>請選擇 excel 檔案 … (<a href="@Url.Content("~/App_Data/Employee.xls")">下載 Excel</a>)</p>*@
            <input type="file" name="f" />
        </div>
        <div class="modal-footer">
            <input class="btn" type="submit" value="上傳" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
        </div>
    }
    <script type="text/javascript">
        var excel = { };
        excel.onComplete = function (data){
            if (data.RS == 'OK') {
                alert('上傳成功');
                //document.forms['f1'].reset();
                //$('#import').modal('hide');
                location.href = '@Url.Content("~/Employee/List")';
            }
            else {
                alert(data.msg);
            }
        }
    </script>
    <iframe name="fileupload" style="display:none;"></iframe>
</div>
<!-- Modal End-->
<div class="well">
    <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增</a>
    <a class="btn btn-primary" href="#import" data-toggle="modal">匯入資料</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th> </th>
            <th>員工編號</th>
            <th>姓名</th>
            <th>部門名稱</th>
            <th>角色</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="10">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.EmpSN }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.EmpSN }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a class="btn" href="@Url.Content(EditUrl)"> <i class="icon-file"></i></a>
                    </td>
                    <td>@Row.EmpSN</td>
                    <td>@Row.Name</td>
                    <td>@Row.DepName</td>
                    <td style="width:300px;">
                        @{
                            foreach (int Value in Enum.GetValues(typeof(KpssRole)))
                            {
                                if ((Row.Permission & Value) == Value)
                                {
                                    string Name = Enum.GetName(typeof(KpssRole), Value);
                                    @Name <text>,</text>
                                }
                            }
                        }

                    </td>
                    
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="10">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pager", (admin.Models.PagerModel)Model)