﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.CustomerModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        客戶編號
					</td>
					<td>
                        @if (_Model == "edit")
                        {
                            @Model.Number
						    @Html.HiddenFor(p => p.Number)
                        }
                        else
                        {
                            <text>自動產生</text>
                        }
					</td>
				</tr>

				<tr>
					<td>
                        客戶類別
					</td>
					<td>
						@Html.ValidationMessageFor(p => p.Type)
                        <label class="radio">@Html.RadioButton("Type", 1) 合約客戶</label>
                        <label class="radio">@Html.RadioButton("Type", 2) 潛在客戶</label>
                        <label class="radio">@Html.RadioButton("Type", 3) 潛在客戶轉合約</label>
					</td>
				</tr>

                <tr>
					<td>
                        統一編號
					</td>
					<td>
						@Html.TextBoxFor(p => p.SN, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.SN)
					</td>
				</tr>

				<tr>
					<td>
                        所屬業務
					</td>
					<td>
						@Html.TextBoxFor(p => p.EmpSN, new { @class = "span3", size = "30"})
						@Html.ValidationMessageFor(p => p.EmpSN)
					</td>
				</tr>

				<tr>
					<td>
                        姓名
					</td>
					<td>
						@Html.TextBoxFor(p => p.Name, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Name)
					</td>
				</tr>
				<tr>
					<td>
                        暱稱
					</td>
					<td>
						@Html.TextBoxFor(p => p.NameAbbr, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.NameAbbr)
					</td>
				</tr>
				<tr>
					<td>
                        負責人
					</td>
					<td>
						@Html.TextBoxFor(p => p.Owner, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Owner)
					</td>
				</tr>
				<tr>
					<td>
                        電話 1
					</td>
					<td>
						@Html.TextBoxFor(p => p.Tel, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Tel)
					</td>
				</tr>

				<tr>
					<td>
                        電話 2
					</td>
					<td>
						@Html.TextBoxFor(p => p.Tel_2, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Tel_2)
					</td>
				</tr>

				<tr>
					<td>
                        傳真
					</td>
					<td>
						@Html.TextBoxFor(p => p.Fax, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Fax)
					</td>
				</tr>

				<tr>
					<td>
                        Email
					</td>
					<td>
						@Html.TextBoxFor(p => p.Email, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Email)
					</td>
				</tr>

				<tr>
					<td>
                        員工人數
					</td>
					<td>
						@Html.TextBoxFor(p => p.EmpCount, new { @class = "span2", size = "30"})
						@Html.ValidationMessageFor(p => p.EmpCount)
					</td>
				</tr>

				<tr>
					<td>
                        所屬部門
					</td>
					<td>
						@Html.TextBoxFor(p => p.Dep, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Dep)
					</td>
				</tr>

				<tr>
					<td>
                        首次交易日
				        @Html.DisplayFor(p => p.FirstTransDate)
					</td>
					<td>
						@Html.TextBoxFor(p => p.FirstTransDate, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.FirstTransDate)
					</td>
				</tr>

				<tr>
					<td>
                        最近交易日
					</td>
					<td>
						@Html.TextBoxFor(p => p.LastTransDate, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.LastTransDate)
					</td>
				</tr>

				<tr>
					<td>
                        銷貨等級
					</td>
					<td>
						@Html.TextBoxFor(p => p.SalesLevel, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.SalesLevel)
					</td>
				</tr>

                <tr>
					<td>
                        員工等級
					</td>
					<td>
                        <label class="radio">@Html.RadioButton("StaffLevel", "A") A(6位以上)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "B") B(4.5-5.5位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "C") C(3-4位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "D") D(2-2.5位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "E") E(少於2位)</label>
                        @Html.ValidationMessageFor(p => p.StaffLevel)
                        @*□A(6位以上)　□B(4.5-5.5位) 　□C(3-4位) 　 □D(2-2.5位) 　□E(少於2位)*@
					</td>
				</tr>

                 <tr>
					<td>
                        品牌
					</td>
					<td>
						@Html.TextBoxFor(p => p.Brand, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Brand)
					</td>
				</tr>

                <tr>
					<td>
                        地區
					</td>
					<td>
						@Html.TextBoxFor(p => p.Area, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Area)
					</td>
				</tr>

                 <tr>
					<td>
                        登記地址
					</td>
					<td>
						@Html.TextBoxFor(p => p.EnrollmentAddr, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.EnrollmentAddr)
					</td>
				</tr>

                <tr>
					<td>
                        交易地址
					</td>
					<td>
						@Html.TextBoxFor(p => p.TransportAddr, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.TransportAddr)
					</td>
				</tr>

                <tr>
					<td>
                        郵遞區號
					</td>
					<td>
						@Html.TextBoxFor(p => p.Postal, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Postal)
					</td>
				</tr>

                <tr>
					<td>
                        付款方式
					</td>
					<td>
						@Html.TextBoxFor(p => p.Payment, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Payment)
					</td>
				</tr>

                <tr>
					<td>
                        分店數
					</td>
					<td>
						@Html.TextBoxFor(p => p.BranchCount, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.BranchCount)
					</td>
				</tr>

                 <tr>
					<td>
                        歇業日期
					</td>
					<td>
						@Html.TextBoxFor(p => p.CloseDate, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.CloseDate)
					</td>
				</tr>


                <tr>
					<td>
                        郵遞區號 2
					</td>
					<td>
						@Html.TextBoxFor(p => p.Postal_2, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Postal_2)
					</td>
				</tr>

                <tr>
					<td>
                        收款業務員
					</td>
					<td>
						@Html.TextBoxFor(p => p.PaymentEmp, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.PaymentEmp)
					</td>
				</tr>

                 <tr>
					<td>
                        KMS初次交易日
					</td>
					<td>
						@Html.TextBoxFor(p => p.FirstTransDate_KMS, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.FirstTransDate_KMS)
					</td>
				</tr>

                 <tr>
					<td>
                        歇業日期
					</td>
					<td>
						@Model.CloseDate_2
						@Html.ValidationMessageFor(p => p.CloseDate_2)
					</td>
				</tr>

                <tr>
					<td>
				        客戶等級
					</td>
					<td>
						@Html.TextBoxFor(p => p.Rating, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Rating)
					</td>
				</tr>


            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>