﻿@model admin.Models.CustomerTaskListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<div class="well">
     @using (Html.BeginForm("List", _Controller, FormMethod.Get))
    {
    @Html.TextBoxFor(p => p.SearchText, new { @class = "input-medium", style="margin-bottom:0px;" })
    <input type="submit" class="btn" value="查詢" />
    }
    @{
        if (User.IsInRole("區業務主管"))
        {
            if (Model.MyEmps != null)
            {
                @Html.DropDownListFor(p => p.EmpId, Model.MyEmps)
            }
        }
    }
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>日期</th>
            <th>客戶編號</th>
            <th>標題</th>
            <th>類別</th>
            <th>狀態</th>
            <th>完成日期</th>
            <th>指派人員</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="8">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Number }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Number }
                    }).VirtualPath;
                <tr>
                    @*<td>
                        <a class="btn" href="@Url.Content(EditUrl)"> <i class="icon-file"></i></a>
                    </td>*@
                    <td>@Row.Date.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    <td>@Row.Number</td>
                    <td>@Row.Title</td>
                    <td>@Row.Category</td>
                    <td>@Row.Status</td>
                    <td>@Row.CloseDate</td>
                    @if (Row.Type == admin.Service.CustomerTaskType.Memo.ToString())
                    {
                        <td>@Row.FromEmp</td>
                    }
                    else if (Row.Type == admin.Service.CustomerTaskType.Assignment.ToString())
                    {
                        <td>@Row.ToEmp</td>
                    }
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="8">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        .AddRouteValue("EmpId", Model.EmpId)
        )
    </ul>
</div>