﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();

    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    {
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller;
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower() == "edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.KpiDailyModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        日期
					</td>
					<td>
                        @if (_Model == "edit")
                        {
                            @Model.Date.ToString("yyyy/MM/dd")
                            @Html.HiddenFor(p => p.Date);
                        }
                        else
                        {
                            @Html.TextBox("Date", Model.Date.ToString("yyyy/MM/dd"), new { @class = "span2 disabed" })
                            @Html.ValidationMessageFor(p => p.Date)
                        }
					</td>
				</tr>

				<tr>
					<td>
                        業務編號
					</td>
					<td>
                        @if (_Model == "edit")
                        {
                            @Model.EmpSN
                            @Html.HiddenFor(p => p.EmpSN);
                        }
                        else
                        {
                            @Html.TextBoxFor(p => p.EmpSN)
                            @Html.ValidationMessageFor(p => p.EmpSN)
                        }
					</td>
				</tr>


                <tr>
                    <td>
                        客戶編號
					</td>
					<td>
                          @if (_Model == "edit")
                          {
                            @Model.CustomerNumber
                            @Html.HiddenFor(p => p.CustomerNumber);
                          }
                          else
                          {
                                @Html.TextBoxFor(p => p.CustomerNumber)
						@Html.ValidationMessageFor(p => p.CustomerNumber)
                          }
                      
					</td>
                </tr>

                <tr>
					<td>
                        品牌 / KPI 項目
					</td>
                        @if (_Model == "edit")
                        {
                            <td>
                            @Model.Brand 
                            @Html.HiddenFor(p => p.Brand)
                            @Model.KpiString
                            @Html.HiddenFor(p => p.KpiItemId)
                            </td>
                        }
                        else
                        {
<td>
                        @Html.DropDownListFor(p => p.Brand, Model.BrandList)

                        @{
                            string vPath = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext, new RouteValueDictionary() { 
                                { "Brand", Model.Brand }
                            }).VirtualPath;
                        }
                        <script type="text/javascript">
                            
                            $(function(){ 
                                $('#Brand').bind('change', function(){
                                    var strBrand = $(this).val(); 
                                    $.get('@Url.Content("~/KpiItem/GetByBrand?Brand=")' + strBrand, function(data){

                                        $('#ddl1').empty();

                                        if (data != null)
                                        {
                                            for (var i = 0; i < data.length; i++) {
                                                var strName = data[i].Name;
                                                var optg = $('<optgroup />').attr('label', strName);

                                                //alert(data[i].Childern.length);
                                                for (var j = 0; j < data[i].Childern.length; j++) {
                                                    var strChildName = data[i].Childern[j].Name;
                                                    var strChildId = data[i].Childern[j].Id;
                                                    var opt = $('<option />').text(strChildName).attr('value', strChildId);
                                                    $(optg).append(opt);
                                                }

                                                $('#ddl1').append(optg);
                                            }
                                        }
                                        

                                    });
                                });
                            });
                        </script>
                        @if (Model.KpiItemList != null)
                        {
                            <select id="ddl1" name="KpiItemId">
                                @foreach (var gpt in Model.KpiItemList)
                                {
                                    <optgroup label="@gpt.Name">
                                        @foreach (var childOption in gpt.Childern)
                                        {
                                            <option @(Model.KpiItemId == childOption.Id ? "selected=selected" : "") value="@childOption.Id">@childOption.Name</option>                                        
                                        }
                                    </optgroup>
                                }
                            </select>
                        }
					</td>
                        }
					
				</tr>

				<tr>
					<td>
                        業績
					</td>
					<td>
						@Html.TextBoxFor(p => p.ActualAmt, new { @class = "span3", size = "30" })
						@Html.ValidationMessageFor(p => p.ActualAmt)
					</td>
				</tr>

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>