﻿@model admin.Models.KpiDailyPage

@*@using (Ajax.BeginForm("UpdateDailay", new AjaxOptions()
{
    UpdateTargetId = "alert01",
    OnBegin = "",
    OnComplete = "$('#loading').hide();",
}))
{
}*@
@*        @Html.HiddenFor(p => p.strDate)
        @Html.HiddenFor(p => p.KpiChildId)
        <div class="form-inline">
            <input type="button" style="display:none;" onclick="updateform()" class="btn" value="儲存" />
            <div id="alert01" class="label label-success"></div>
        </div>*@
        @if (Model.Employees != null)
        {
            if (Model.Employees.Count() < 1)
            {
                <h5>暫無資料</h5>
            }
            else
            {
            <table class="table">
                <thead>
                    <tr>
                        <td>業務</td>
                        <td>業績</td>
                        <td></td>
                    </tr>
                </thead>
            @for (int i = 0; i < Model.Employees.Count; i++)
            {
                @Html.HiddenFor(p => p.Employees[i].EmpSN)
                @Html.HiddenFor(p => p.Employees[i].Name)
                if (Model.Employees[i].Records.Count > 0)
                {
                    for (int j = 0; j < Model.Employees[i].Records.Count; j++)
                    {
                        using (Ajax.BeginForm("updateondaily", new AjaxOptions(){
                            HttpMethod = "POST",
                            OnBegin = "",
                            OnSuccess = "alert('更新成功');",
                            OnFailure = "alert('更新失敗');"
                        }))
                        {
                            <tr>
                                <td>
                                    @Model.Employees[i].Name
                                    @Html.Hidden("strDate", Model.strDate)
                                    @Html.Hidden("KpiChildId", Model.KpiChildId)
                                    @Html.Hidden("EmpSN", Model.Employees[i].EmpSN)
                                </td>
                                <td>
                                    @Html.TextBox("ActualAmt", Model.Employees[i].Records[j].ActualAmt, new { @class = "span3" })
                                </td>
                                <td><input name="submitButton" class="btn" type="submit" value="更新" /></td>
                            </tr> 
                        }
                    }
                   
                }
            }
            </table>
            }
        }
       
  