﻿@model admin.Models.KpiDailyPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .well input, select { margin-right:5px; }
</style>

<!-- Modal -->
<div id="import" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">匯入每日回報資料</h3>
  </div>
    @using (Html.BeginForm("Import", "KpiDaily", null, FormMethod.Post,
        new { id = "f1", @class = "form-inline", style = "margin-bottom:0px", enctype = "multipart/form-data", target = "fileupload" })
    )
    {
        <div class="modal-body">
@*            <p>請選擇 excel 檔案 … (<a href="@Url.Content("~/App_Data/Customer.xls")">下載 Excel</a>)</p>*@
            <input type="file" name="f" />
        </div>
        <div class="modal-footer">
            <input class="btn" type="submit" value="上傳" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
        </div>
    }
    <script type="text/javascript">
        var excel = {};
        excel.onComplete = function (data) {
            if (data.RS == 'OK') {
                alert('上傳成功');
                //document.forms['f1'].reset();
                //$('#import').modal('hide');
                location.href = '@Url.Content("~/Customer/List")';
            }
            else {
                alert(data.msg);
            }
        }
    </script>
    <iframe name="fileupload" style="display:none;"></iframe>
</div>
<!-- Modal End-->

<div class="well form-inline">
@*    @using (Html.BeginForm("Commit", "KpiDaily", null, FormMethod.Post, new { }))
    { }*@
    @using (Ajax.BeginForm("Commit", new AjaxOptions()
    { 
        HttpMethod = "POST",
        UpdateTargetId = "grid01",
        OnBegin = "",
        OnSuccess = "$('#adddaily_kpichildid').val($('#KpiChildId').val()); $('#adddaily_kpirootid').val($('#KpiRootId').val());"
    }))
    {
        @Html.TextBoxFor(p => p.strDate, new { @class = "span2" })
        @Html.DropDownListFor(p => p.Brand, Model.BrandList)
        if (Model.KpiItemsRoot != null)
        {
            @Html.DropDownListFor(p => p.KpiRootId, Model.KpiItemsRoot)
        }
        if (Model.KpiItemsChild != null)
        {
            @Html.DropDownListFor(p => p.KpiChildId, Model.KpiItemsChild)
        }
        <input id="querybtn1" class="btn" type="submit" value="查詢" />
        <a class="btn btn-primary" href="#import" data-toggle="modal">匯入資料</a>
    }
    <script type="text/javascript">

        $(function () {
            $('#Brand').bind('change', function () {
                getByBrand($(this).val());
            });

            $('#KpiRootId').bind('change', function () {
                getByRootId($(this).val());
            });
        });

        function getByBrand(value) {
            $.ajax({
                url:'@Url.Content("~/KpiItem/GetByBrandv2?Brand=")' + value,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    renderRootList(data);
                }
            });
        }

        function renderRootList(d) {
            var data = d.Data;
            $('#KpiRootId').empty();
            for (var i = 0; i < data.length; i++) {
                var opt = $('<option />').val(data[i].Value).text(data[i].Text);
                $('#KpiRootId').append(opt);
                if (i == 0)
                {
                    getByRootId(data[i].Value);
                }
            }
        }

        function getByRootId(value) {
            $.ajax({
                url: '@Url.Content("~/KpiItem/GetByParent?ParentId=")' + value,
               type: 'GET',
               dataType: 'json',
               success: function (data) {
                   renderChildList(data);
               }
           });
        }

        function renderChildList(d) {
            var data = d.Data;
            $('#KpiChildId').empty();
            for (var i = 0; i < data.length; i++) {
                var opt = $('<option />').val(data[i].Value).text(data[i].Text);
                $('#KpiChildId').append(opt);
            }
        }
    </script>
</div>


<script type="text/javascript">

    function updateform() {
        $('#loadingtxt').text('收集資料中,請稍候....');
        $('#loading').show();

        setTimeout("$('#loadingtxt').text('更新資料庫中,請稍候....');$('#form0').submit();", 2000)
    }
</script>
<div id="grid01">
    @Html.Partial("_Grid", Model)
</div>

<script type="text/javascript">
    function onFailure(ajx) {
        $('#alert02').text(ajx.responseText);
        setTimeout("clear();", 2000);
    }
    function clear() {
        $('#alert02').text('');
        $('#alert02').slideUp();
    }
    function onSucces() {
        $('#querybtn1').trigger('click');
    }
</script>

    <script type="text/javascript">
        $(function () {
            if (typeof (jamzoo.regauto) == "function") {
                jamzoo.regauto($('#Create_EmpSN'), '@Url.Content("~/Employee/SearchByName")', 1);
                jamzoo.regauto($('#Create_CustomerNumber'), '@Url.Content("~/Customer/SearchByName")', 1);
            }
        });
    </script>

   <hr />
        @using (Ajax.BeginForm("AddDailay", new AjaxOptions()
        {
            UpdateTargetId = "alert02",
            OnBegin = "",
            OnComplete = "$('#loading').hide();",
            OnFailure = "onFailure",
            OnSuccess = "onSucces"
        }))
        {
            @Html.HiddenFor(p => p.KpiRootId, new { id = "adddaily_kpirootid" })
            @Html.HiddenFor(p => p.KpiChildId, new { id = "adddaily_kpichildid" })
            @Html.HiddenFor(p => p.strDate)
            <div class="form-inline">
                @Html.TextBoxFor(p => p.Create.EmpSN, new { @class = "span3", placeholder = "業務編號" })
                @Html.ValidationMessageFor(p => p.Create.EmpSN)
                @Html.TextBoxFor(p => p.Create.Amt, new { @class = "span2", placeholder = "業績" })
                @Html.ValidationMessageFor(p => p.Create.Amt)
                <input type="submit" class="btn" value="新增"/>
                <div id="alert02" class="label label-success"></div>
            </div>
        }
        
<div id="loading" style="display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:black;opacity:0.8;">
    <div id="loadingtxt" style="color: white;text-align:center; margin-top:200px">更新中, 請稍候...</div>
</div>