﻿@model admin.Models.KpiDailyListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;
}


<div class="well">
    <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th> </th>
            <th>日期</th>
            <th>所屬業務</th>
            <th>客戶</th>
            <th>業績</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="5">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "year" , Row.Year },
                        { "month" , Row.Month },
                        { "day" , Row.Day },
                        { "EmpSN" , Row.EmpSN },
                        { "CustomerNumber", Row.CustomerNumber },
                        { "KpiItemId", Row.KpiItemId }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" }
                    }).VirtualPath;
              
                <tr>
                    <td style="width:100px;">
                        <a class="btn" href="@Url.Content(EditUrl)" title="修改"> <i class="icon-file"></i></a>
                    </td>
                    <td>@Row.Date.ToString("yyyy/MM/dd")</td>
                    <td>@Row.EmpSN</td>
                    <td>@Row.CustomerNumber</td>
                    <td>@Row.ActualAmt</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="5">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        )
    </ul>
</div>