﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul id="menu" class="nav nav-list">
    @foreach (var node in Model.Nodes) {

        var _class = string.Empty;
        if (node.IsCurrentNode || node.IsInCurrentPath)
            _class = "active";

        if (node.IsRootNode)
            _class = "nav-header";
        
        <li class="@(_class)">@Html.DisplayFor(m => node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m => node.Children)
            }
        </li>
    }
</ul>