﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl`1[[MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel,MvcSiteMapProvider]]" %>
<%@ Import Namespace="System.Web.Mvc.Html" %>
<%@ Import Namespace="MvcSiteMapProvider.Web.Html.Models" %>

<% if (Model.Count() > 0)
   {
   %>
   
    <%--<ul class="breadcrumb">--%>
    <ul class="nav" style="margin-bottom:5px">
        <% foreach (var node in Model) {
            %>
            <%=Html.DisplayFor(m => node)%>
            <% if (node != Model.Last()) { %>
            /
            <% } %>
            <% } %>
        </ul>
   <%
   } %>
