﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <text>@Model.Title</text>
} else if (Model.IsClickable) {
    if (Model.Action.ToLower().Equals("add"))
    {
        <a href="@Model.Url "><i class="icon-file"></i>@Model.Title</a>
    }
    else
    { 
        <a href="@Model.Url ">@Model.Title</a>
    }
}
else
{ 
    <text>@Model.Title</text>
}
