﻿@using admin.Models;
@{
    AccountModel emp = AccountModel.Create(User.Identity.Name);
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>歌薇管理後台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <style type="text/css">
        .ui-autocomplete-loading {
            background: white url('/Content/Images/ui-anim_basic_16x16.gif') right center no-repeat;
        }
        .validation-summary-errors { color:red; }
    </style>
    @RenderSection("css", false)

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/openwindow.js?v=1")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.8.1.min.js")" type="text/javascript"></script>*@
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>    
    <script type="text/javascript">
        var jamzoo = { };
        jamzoo.regauto = function (dom, uri, minLength) {
            $(dom).autocomplete({
                source: uri,
                minLength: minLength,
                select: function (event, ui) {
                    //log(ui.item ?
                    //  "Selected: " + ui.item.value + " aka " + ui.item.id :
                    //  "Nothing selected, input was " + this.value);
                }
            });
        }

        $(function () {
            if (typeof (jamzoo.regauto) == "function") {
                jamzoo.regauto($('#EmpId'), '@Url.Content("~/Employee/SearchByName")', 1);
            }
        });
    </script>

    @RenderSection("js", false)
    <!-- Le styles -->
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <style type="text/css">
        body {
            font-size:12px;
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        .field-validation-error
        {
            color:red;
        }
        
        .table input,p
        {
            margin-bottom:0px;
        }
        td .radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline
        {
            margin-left:0px;
        }
    </style>
    
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner" style="background-color:#29194a; background-image:-webkit-linear-gradient(top, #29194a, #29194a)">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="javascript:;">歌薇管理後台</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              <a href="#" class="navbar-link">@emp.Name </a> 您好 
              <text>@@</text>@(emp.Dep)
              ( <a href="@Url.Content("~/Account/LogOff")" class="navbar-link">登出</a> )
            </p>
            @*<ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>*@
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
                @Html.MvcSiteMap().Menu()
              @*<li>@Html.ActionLink("公佈欄", "List", "Bulletin")</li>
              <li>@Html.ActionLink("異常通知", "List", "AbNormal")</li>
              <li>@Html.ActionLink("審核", "List", "Duty")</li>
              <li>@Html.ActionLink("Mobile Unlock", "Index", "Unlock")</li>*@
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
          <div class="span10">
            @Html.MvcSiteMap().SiteMapPath()
            @RenderBody()
         </div>
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; Copyright © 2013 KPSS. All rights reserved.</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   @* <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>*@
@*    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap-tooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap-popover.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
  </body>
</html>
