﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>智慧排程</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <style type="text/css">
        .ui-autocomplete-loading {
            background: white url('/Content/Images/ui-anim_basic_16x16.gif') right center no-repeat;
        }
    </style>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" type="text/javascript"></script>    
    <script type="text/javascript">
         var jamzoo = {};
         jamzoo.regauto = function (dom, uri, minLength) {
             $(dom).autocomplete({
                 source: uri,
                 minLength: minLength
             });
         }

      
    </script>

    <style type="text/css">
        .container
        {
            width :100%;
        }
        body {
            /*padding-top: 60px;
            padding-bottom: 40px;*/
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        .field-validation-error
        {
            color:red;
        }
        
        .table input,p
        {
            margin-bottom:0px;
        }
        td .radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline
        {
            margin-left:0px;
        }
    </style>
    
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
</body>
</html>
