﻿@model admin.Models.PagerModel
@{
    
    //var preBtnRouteValue = new RouteValueDictionary(){ { "page", (Model.Page - 1) } };
    //var nextBtnRouteValue = new RouteValueDictionary(){ { "page", (Model.Page + 1) } };

    //var preBtnUrl = RouteTable.Routes.GetVirtualPath(
    //    ViewContext.RequestContext,
    //    preBtnRouteValue).VirtualPath;
        
    //var nextBtnUrl = RouteTable.Routes.GetVirtualPath(
    //    ViewContext.RequestContext,
    //    nextBtnRouteValue).VirtualPath;

}
@*<ul class="pager">
    <li class="previous@((Model.PageIndex == 1)? " disabled":"")">
        <a href="@((Model.PageIndex == 1)? "javascript:;":Url.Content(preBtnUrl))">pre</a>
    </li>
    <li class="badge">page : @Model.PageIndex</li>
    /
    <li class="badge">total @Model.TotalRecords</li>
    <li class="next@(((Model.TotalPages <= Model.PageIndex) || Model.PageSize == 0)? " disabled":"")">
        <a href="@(((Model.TotalPages <= Model.PageIndex) || Model.PageSize == 0)? "javascript:;":Url.Content(nextBtnUrl))">next</a>
    </li>
</ul>*@
<div class="pagination pagination-centered">
    <ul>
@Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o.DisplayTemplate("PagerTemplate"))
    </ul>
</div>