﻿
@{
    Layout = null;
    int h = 400;
    if (Request.QueryString["h"] != null)
    {
        Int32.TryParse(Request.QueryString["h"].ToString(), out h);
    }
}

<!DOCTYPE html>

<html>
@*<html manifest="@Url.Content("~/cache.appcache")"> *@
<head>
    <title>報表</title>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .rptable
        {
            color:white;
            width:100%
        }
        .rptable thead tr td
        {
            background-color:#97D103;
        }

        .rptable tbody tr td
        {
            color:black;
        }
    </style>
    <script type="text/javascript">

          if (navigator.onLine) {
              //alert('online');
          } else {
              //alert('offline');
          }

          window.addEventListener("offline", function (e) {
              //alert("offline");
          }, false);

          window.addEventListener("online", function (e) {
              //alert("online");
          }, false);

          window.applicationCache.addEventListener("error", function (e) {
              //alert("Error fetching manifest: a good chance we are offline");
          });

    </script>

</head>
<body>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <a href="javascript:history.back(1)">回上頁</a>
    <div id="container" style="height: @(h)px; margin: 0 auto"></div>
@*    @DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")*@
    @RenderBody()
</body>
</html>
