﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.CustomerTrainingModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table class="table">
            <tbody>
                <tr>
					<td width="20%">
                        流水編號
					</td>
					<td>
                        @Model.Id.ToString()
					</td>
				</tr>

                <tr>
					<td>
                        上課日期
                        <br />
                        <span class="label label-info">格式 [yyyy/MM/dd]</span>
					</td>
					<td>
                        @Html.TextBoxFor(p => p.strDate, new { @class = "span2", size = "30" })
                        @Html.ValidationMessageFor(p => p.strDate)
					</td>
				</tr>

				<tr>
					<td>
                        客戶編號
					</td>
					<td>
                        @Html.TextBoxFor(p => p.Number, new { @class = "span3", size = "30", placeholder = "客戶編號" })
						@Html.ValidationMessageFor(p => p.Number)
                        <script type="text/javascript">
                            $(function(){
                                if (typeof (jamzoo.regauto) == "function") {
                                    jamzoo.regauto($('#Number'), '/Customer/SearchByName', 1);
                                }
                            });
                        </script>
					</td>
				</tr>

                <tr>
					<td>
                        主題
					</td>
					<td>
						@Html.TextBoxFor(p => p.Subject, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Subject)
					</td>
				</tr>

				<tr>
					<td>
                        講師
					</td>
					<td>
						@Html.TextBoxFor(p => p.EmpSN, new { @class = "span3", size = "30", placeholder = "講師員工編號"})
						@Html.ValidationMessageFor(p => p.EmpSN)
                         <script type="text/javascript">
                             $(function(){
                                 if (typeof (jamzoo.regauto) == "function") {
                                     jamzoo.regauto($('#EmpSN'), '/Employee/SearchByName', 1);
                                 }
                             });
                        </script>
					</td>
				</tr>

				<tr>
					<td>
                        申請時間
					</td>
					<td>
						@Html.HiddenFor(p => p.CreateDate)
                        @Model.CreateDate.ToString("yyyy/MM/dd HH:mm:ss")
					</td>
				</tr>
				<tr>
					<td>
                       狀態 
					</td>
					<td>
                        @*0:主管未確定;1:主管已決定;2:上完了;3:異常*@
                        <label>@Html.RadioButtonFor(p => p.Status, 0) 未審核</label>
                        <label>@Html.RadioButtonFor(p => p.Status, 1) 已核准</label>
                        <label>@Html.RadioButtonFor(p => p.Status, 2) 完成授課</label>
                        <label>@Html.RadioButtonFor(p => p.Status, 3) 異常</label>
						@Html.ValidationMessageFor(p => p.Status)
					</td>
				</tr>
				<tr>
					<td>
                        審核日期
					</td>
					<td>
                        @if (Model.ApproveDate.HasValue)
                        {
                            @Model.ApproveDate.Value.ToString("yyyy/MM/dd")
                        }
                        else
                        {
                            <text>尚未審核</text>
                        }
					</td>
				</tr>
            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List?SearchText=" + Model.Number)';}">
    </div>