﻿@model admin.Models.CustomerTrainingListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<div class="well form-inline">
    @using (Html.BeginForm("List", _Controller, FormMethod.Get))
    {
        @Html.DropDownListFor(p => p.Status, Model.StatusList)
        <input type="submit" name="trigger" class="btn" value="查詢" />
        <input type="submit" name="trigger" class="btn" value="下載" />
        <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增</a>
    }
</div>
@if (TempData["error"] != null)
{
    <div class="alert">
    <strong></strong> @TempData["message"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th> </th>
            <th>狀態</th>
            <th>教育訓練日期</th>
            <th>講師</th>
            <th>客戶</th>
            <th>審核日期</th>
            <th>電話</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="7">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Id }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Id}
                    }).VirtualPath;

                <tr>
                    <td style="width:100px;">
                        <a class="btn" href="@Url.Content(EditUrl)" title="修改"> <i class="icon-file"></i></a>
                    </td>
                    <td><label @(Row.Status == 0 ? "":"class=label label-warning")>@Row.StatusTxt</label></td>
                    <td>@Row.Date.ToString("yyyy/MM/dd")</td>
                    <td>@Row.Teacher<text>(</text>@Row.EmpSN<text>)</text></td>
                    <td>@Row.CustomerName<text>(</text>@Row.Number<text>)</text></td>
                    <td>@(Row.ApproveDate.HasValue ? Row.ApproveDate.Value.ToString("yyyy/MM/dd"):"無")</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="7">查無資料</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        )
    </ul>
</div>