﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.JamPushModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        編號
					</td>
					<td>
                        @Model.Id
                        @Html.HiddenFor(p => p.Id)
					</td>
				</tr>

                <tr>
					<td>
                        標題 
					</td>
					<td>
                        @if (_Model != "edit")
                        {
                            @Html.TextBoxFor(p => p.Title, new { @class = "span4" })
                        }
                        else
                        {
                            @Model.Title
                        }
					</td>
				</tr>

				<tr>
					<td>
                        內文
					</td>
					<td>
                        @if (_Model != "edit")
                        {
                            @Html.TextAreaFor(p => p.Summary, new { style = "width:95%" })
                        }
                        else
                        {
                            @Model.Summary
                        }
					</td>
				</tr>

                @if (!string.IsNullOrEmpty(Model.Response))
                {
                    <tr>
                        <td>
                            JamPush REST-API 回應狀態
                        </td>
                        <td>
                            @Model.Response
                        </td>
                    </tr>

                }
				
				<tr>
					<td>
                        狀態
					</td>
					<td>
                        @Model.Status
					</td>
				</tr>
				<tr>
					<td>
                        建立時間
					</td>
					<td>
                        @Model.CreateDate.ToString("yyyy/MM/dd HH:mm:ss")
                        @Html.HiddenFor(p => p.CreateDate)
					</td>
				</tr>

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        @if (_Model != "edit")
        {
            <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="立即發送" onclick="javascript:return confirm('確定送出嗎?');" />
        }
            <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}" />
    </div>