﻿@model admin.Models.ProductPage
@{
    Layout = "~/Areas/app/Views/Shared/_KSLayout.cshtml";
    
}

<h4 class="demo-panel-title">品牌</h4>

<div class="row mbl">
    @if (Model.Brands != null)
    {
        foreach (var brand in Model.Brands)
        {
            <div class="span2">
                @{
                    string kmsUrl = ViewContext.RouteData.Route.GetVirtualPath(
                        ViewContext.RequestContext,
                        new RouteValueDictionary() 
                            {
                                { "token", Request.QueryString["token"].ToString() },
                                { "action", "category" },
                                { "brand", brand.Value },
                            }).VirtualPath;
                }
                <a href="@Url.Content("~/" + kmsUrl)">
                    <dl class="palette palette-firm">
                        <dt>@brand.Value</dt>
                        <dd></dd>
                    </dl>
    @*                <dl class="palette palette-firm-dark">
                        <dt>KMS</dt>
                        <dd>KMS</dd>
                    </dl>*@
                </a>
            </div>
        }
    }
   
</div>
