﻿@model admin.Models.OrderForm
@{
    Layout = "~/Areas/app/Views/Shared/_KSLayout.cshtml";
    var _backUrl = ViewContext.RouteData.Route.GetVirtualPath(
                ViewContext.RequestContext,
                new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "index" },
                    { "brand", Model.brand },
                    { "serial", Model.serial }
                }).VirtualPath;

    var _indexUrl = ViewContext.RouteData.Route.GetVirtualPath(
                   ViewContext.RequestContext,
                   new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "brands" }
                }).VirtualPath;
}

<div data-bind="style : { display: popup() }" class="jzmodal">
    <div data-bind="text : poptext" class="jzmodal_text">處理中...</div>
</div>

<a class="btn btn-primary btn-large btn-block" href="@Url.Content("~/" + _backUrl)">回上頁</a>
<p></p>
<div class="row">
    <div class="span6" style="float:left">
        <h4>物品總覽</h4> 
    </div>
    <div class="span2 text-right" style="float:right; text-align:right">
        <a data-bind="click: clearAll" href="javascript:;" class="btn btn-danger">清空購物車</a>
    </div>
    <div style="clear:both;"></div>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th style="width:12%;">數量</th>
            <th style="width:10%;"><span class="label">品牌</span></th>
            <th style="width:10%;">類別</th>
            <th style="width:10%;">編號</th>
            <th style="width:20%;">產品名稱</th>
            <th>規格</th>
            <th style="width:10%;">單價</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: products">
        <tr>
            <td>
@*                <input type="text" class="span1" data-bind="value: amt, event: { change: checker }" />*@
                <select class="span1" data-bind="value :amt">
                    @for (int i = 0; i < 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </td>
            <td><span data-bind="text: brand"></span></td>
            <td><span data-bind="text: serial"></span></td>
            <td><span data-bind="text: sn"></span></td>
            <td><span data-bind="text: pName"></span></td>
            <td><span data-bind="text: spec"></span></td>
            <td><span data-bind="text: price"></span></td>
        </tr>    
    </tbody>
</table>

<div class="form-inline login-form">
    <p>
    <h4 style="display:inline; margin-right:5px">總數量 : <span class="badge badge-info" data-bind="text: totalSurcharge()"></span>  </h4>
    </p>
    <p>
    <input data-bind="value: name" type="text" placeholder="客戶姓名" />
    <input data-bind="value: email" type="email" placeholder="信箱" />
        <input data-bind="value: mobile" type="text" placeholder="電話" />
    </p>
    <p><input class="span8" data-bind="value: addr" type="text" placeholder="地址" /></p>
    <p>
        <button class="btn btn-primary btn-large" data-bind="click: apply">送出</button>
    </p>
    <p></p>
    <div data-bind="style: { display: errorMessage() == '' ? 'none':'block' }, text: errorMessage" class="palette palette-alizarin" style="display:inline;"></div>
</div>
<script type="text/javascript">
   
    // 產品的
    var Product = function (id, brand, type, serial, sn, pName, spec, price, amt) {
        var self = this;
        self.id = id;
        self.brand = brand;
        self.type = type;
        self.serial = serial;
        self.sn = sn;
        self.pName = pName;
        self.spec = spec;
        self.amt = ko.observable(amt);
        self.price = price;

        self.checker = function () {
            if (!parseInt(self.amt())) {
                self.amt(0);
            }
        };
    };

    // Overall viewmodel for this screen, along with initial state
    function ReservationsViewModel(token) {
        var self = this;

        //defalut property
        self.name = ko.observable('');
        self.email = ko.observable('');
        self.addr = ko.observable('');
        self.mobile = ko.observable('');
        self.serial = ko.observable('');
        self.products = ko.observableArray([]);

        self.popup = ko.observable('none');
        self.poptext = ko.observable('處理中...');

        //total
        self.totalSurcharge = ko.computed(function () {
            var total = 0;
            for (var i = 0; i < self.products().length; i++)
                total += parseInt(self.products()[i].amt());
            return total;
        });

        self.getList = function () {
            jzDataContext.list(function (result) {
                for (var i = 0, pro = null; i < result.rows.length; i++) {
                    pro = result.rows.item(i);
                    var p = new Product(pro.Id, pro.Brand, pro.Type, pro.Serial, pro.SN, pro.Pname, pro.Spec, pro.Price, pro.Amt);
                    self.products.push(p);
                }
            });
        }

        self.apply = function () {
            if (self.validate()) {
                if (confirm('確定送出?')) {
                    self.popup('block');
                    $.ajax("/App/Product/Order?token=" + token, {
                        data: ko.toJSON({ addr: self.addr, mobile: self.mobile, mail: self.email, name: self.name , pros: self.products }),
                        type: "post", contentType: "application/json;",
                        success: function (result) {
                            if (result.rs == 'OK') {
                                _viewModel.email('');
                                _viewModel.name('');
                                _viewModel.addr('');
                                _viewModel.mobile('');
                                _viewModel.errorMessage('已送出');
                                setTimeout("_viewModel.errorMessage('');", 2000);
                                self.clearAll();
                                alert('發送成功');
                                self.popup('none');
                                location.href = "@Url.Content("~/" + _indexUrl)";
                            }
                            else {
                                alert(result.rs);
                                self.popup('none');
                            }
                        }
                    });
                }
            }
        }

        self.clearAll = function () {
            self.products.removeAll();
            jzDataContext.clearAll(null);
            localStorage.clear();
        }

        self.errorMessage = ko.observable('');

        self.validate = function () {
            var _isValid = true;

            if (self.name() == '') {
                self.errorMessage('請輸入姓名');
                _isValid = false;
            }

            if (self.mobile() == '') {
                self.errorMessage('請輸入電話');
                _isValid = false;
            }

            if (self.addr() == '') {
                self.errorMessage('請輸入地址');
                _isValid = false;
            }

            if (self.email() == '') {
                //alert('請輸入 Email');
                self.errorMessage('請輸入 Email');
                _isValid = false;
            }
            else if (!(/^[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}$/i.test(self.email())))
            {
                self.errorMessage('Email 格式錯誤');
                _isValid = false;
            }

            if (self.totalSurcharge() < 1) {
                self.errorMessage('您沒有任何產品的加購量');
                _isValid = false;
            }

            if (_isValid) self.errorMessage('');
            return _isValid;
        }

    }
    var _token = '@(Request.QueryString["token"] != null ? Request.QueryString["token"].ToString():string.Empty)';
    var _viewModel = new ReservationsViewModel(_token);
    ko.applyBindings(_viewModel);

    $(function () {
        _viewModel.serial('@(Model.serial)');
        _viewModel.getList();
    });


</script>