﻿@model admin.Models.ProductPage
@{
    Layout = "~/Areas/app/Views/Shared/_KSLayout.cshtml";

    var _backUrl = ViewContext.RouteData.Route.GetVirtualPath(
                ViewContext.RequestContext,
                new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "brands" }
                }).VirtualPath;
}

<a class="btn btn-primary btn-large btn-block" href="@Url.Content("~/" + _backUrl)">回品牌列表</a>
<h4 class="demo-panel-title">類別</h4>
<div class="row mbl">
    @if (Model.Serials != null)
    {
        foreach (var s in Model.Serials)
        {
            string url = ViewContext.RouteData.Route.GetVirtualPath(
                      ViewContext.RequestContext,
                      new RouteValueDictionary() 
                    {
                        { "token", Request.QueryString["token"].ToString() },
                        { "action", "Index" },
                        { "brand", Model.Brand },
                        { "serial", s.Value },
                    }).VirtualPath;
            <div class="span2">
                <a href="@Url.Content("~/" + url)">
                <dl class="palette palette-firm">
                    <dt>@s.Value</dt>
                </dl>
                </a>
            </div>
        }
    }
</div>
