﻿@model admin.Models.OrderForm
@{
    Layout = "~/Areas/app/Views/Shared/_KSLayout.cshtml";
    var _backUrl = ViewContext.RouteData.Route.GetVirtualPath(
                ViewContext.RequestContext,
                new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "category" },
                    { "brand", Model.brand }
                }).VirtualPath;


    var _goToBrand = ViewContext.RouteData.Route.GetVirtualPath(
                ViewContext.RequestContext,
                new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "brands" }
                }).VirtualPath;
                
    var _goToCar = ViewContext.RouteData.Route.GetVirtualPath(
                ViewContext.RequestContext,
                new RouteValueDictionary() {
                    { "token", Request.QueryString["token"].ToString() },
                    { "action", "Cars" },
                    { "brand", Model.brand },
                    { "serial", Model.serial },
                }).VirtualPath;
}

<a class="btn btn-primary btn-large btn-block" href="@Url.Content("~/" + _backUrl)">回上頁</a>
<p></p>
<div class="row">
    <div class="span6" style="float:left">
       <a href="@Url.Content("~/" + _goToBrand)">@Model.brand</a> > <a href="@Url.Content("~/" + _backUrl)">@Model.serial</a>
    </div>
    <div class="span2 text-right" style="float:right; text-align:right">
        <a href="@Url.Content("~/" + _goToCar)" class="btn btn-danger">結帳</a>
    </div>
    <div style="clear:both;"></div>
</div>
<p></p>
<table class="table">
    <thead>
        <tr>
            <th style="width:10%;"></th>
            <th style="width:15%;">編號</th>
            <th style="width:20%;">產品名稱</th>
            <th>規格</th>
            <th style="width:10%;">單價</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: products">
        <tr>
            <td>
                <input data-bind="css: { 'btn-primary': isAlreadyToCar() != true, 'btn-warning': isAlreadyToCar() },click: addToCar, value: addToCarText" type="button" style="font-size:0.8em" class="btn btn-success" />
            </td>
            <td><span data-bind="text: sn"></span></td>
            <td><span data-bind="text: pName"></span></td>
            <td><span data-bind="text: spec"></span></td>
            <td><span data-bind="text: price"></span></td>
        </tr>    
    </tbody>
</table>

<script type="text/javascript">
    // 產品的
    var Product = function (id, brand, type, serial, sn, pName, spec, price, amt) {
        var _s_textA = '加入待購清單', _s_textB = '取消待購清單';
        var self = this;
        self.id = id;
        self.brand = brand;
        self.type = type;
        self.serial = serial;
        self.sn = sn;
        self.pName = pName;
        self.spec = spec;
        self.price = price;
        self.amt = ko.observable(amt);
        self.addToCarText = ko.observable(_s_textA);

        self.checker = function () {
            if (!parseInt(self.amt())) {
                self.amt(0);
            }
        };

        //是否已加入購物車
        self.isAlreadyToCar = function () {
            var _b = localStorage.getItem(self.id) != null;

            self.setBtnText(_b);
            //加入待購清單
            return _b;
        };

        // 把產品加到購物車
        self.addToCar = function () {
            if (localStorage.getItem(self.id) == null) {
                //加到 db
                jzDataContext.add(self, null);
                localStorage[self.id] = "true";
                self.setBtnText(true);
            }
            else {
                //從 db 刪除
                jzDataContext.remove(self.id, function (id) { });
                localStorage.removeItem(self.id);
                self.setBtnText(false);
            }
        };

        //設定加入按鈕的文字
        self.setBtnText = function (_b) {
            self.addToCarText(_b ? _s_textB : _s_textA);
        }

        //判斷是否已加入購物車
        self.isAlreadyToCar();

    };

    // Overall viewmodel for this screen, along with initial state
    function ReservationsViewModel(token) {
        var self = this;

        //defalut property
        self.serial = ko.observable('');
        self.products = ko.observableArray([]);

        //total
        self.totalSurcharge = ko.computed(function () {
            var total = 0;
            for (var i = 0; i < self.products().length; i++)
                total += parseInt(self.products()[i].amt());
            return total;
        });

        self.getList = function () {
            $.ajax("/app/product/list?token=" + _token + "&serial=" + self.serial(), {
                data: "",
                type: "get", contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            var pro = result[i];
                            var p = new Product(pro.Id, pro.Brand, pro.Type, pro.Serial, pro.SN, pro.Pname, pro.Spec, pro.Price, 0);
                            self.products.push(p);
                        }
                    }
                }
            });
        }

        self.errorMessage = ko.observable('');

        self.validate = function () {
            var _isValid = true;

            if (self.totalSurcharge() < 1) {
                self.errorMessage('您沒有任何產品的加購量');
                _isValid = false;
            }

            if (_isValid) self.errorMessage('');

            return _isValid;
        }

    }
    var _token = '@(Request.QueryString["token"] != null ? Request.QueryString["token"].ToString():string.Empty)';
    var _viewModel = new ReservationsViewModel(_token);
    ko.applyBindings(_viewModel);


    $(function () {
        _viewModel.serial('@(Model.serial)');
        _viewModel.getList();
    });


</script>