﻿@model admin.Models.WeekPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well form-inline">
    @using (Html.BeginForm())
    {
    @Html.DropDownListFor(p => p.EmpId, Model.Emps)
    @Html.TextBox("Today", Model.Today.ToString("yyyy/MM/dd"), new { style = "display:none;" })
    @Html.TextBox("Start", Model.Start.ToString("yyyy/MM/dd"))
    @Html.TextBox("End", Model.End.ToString("yyyy/MM/dd"))
    <script type="text/javascript">
        $(function () {
            $("#Today").datepicker({ showWeek: true, dateFormat: 'yy/mm/dd' });
            $("#Start").datepicker({ showWeek: true, dateFormat: 'yy/mm/dd' });
            $("#End").datepicker({ showWeek: true, dateFormat: 'yy/mm/dd' });
        });
    </script>
    <input class="btn" type="submit" value="查詢" />
    <input class="btn" type="submit" value="下載個人報表" name="export" />
    <input class="btn" type="submit" value="下載全部報表" name="export" />
    }
</div>
<div>
    <h3>本週重點</h3>
    <blockquote>
        @if (!string.IsNullOrEmpty(Model.WeekToDo))
        {
        <p>@Html.Raw(Model.WeekToDo.Replace("\n", "<br />"))</p>
        }
    </blockquote>
</div>
<div class="form-inline">
@foreach (var dt in Model.DateOfThisWeek)
{
    <div>
        <div class="span4">
            <h4><p class="text-info">@dt.Date.ToString("yyyy/MM/dd")</p></h4>
        </div>
    </div>
    <div>
        <div class="span12">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width:150px">客戶編號</td>
                        <td style="width:50px">客戶名稱</td>
                        <td style="width:50px">業務</td>
                        <td>拜訪日期</td>
                        <td>拜訪類別</td>
                        <td style="width:200px">內容</td>
@*                        <td>狀態</td>*@
                        <td>異常原因</td>
                    </tr>
                </thead>
                <tbody>
                @if (dt.Customers.Count() == 0)
                {
                    <tr>
                        <td style="text-align:center" colspan="8">查無資料</td>
                    </tr>
                }
                else
                {
                    foreach (var Row in dt.Customers)
                    {
                    <tr>
                        <td>@Row.CustomerNumber</td>
                        <td>@Row.CustomerName</td>
                        <td>@Row.EmpSN</td>
                        <td>@Row.VisitDate.ToString("yyyy/MM/dd")</td>
                        <td>@Row.Type</td>
                        <td>@Row.Context</td>
                        @*<td>
                            @{
                                
                            }
                        </td>*@
                        <td>@Row.ReasonForError</td>
                    </tr>
                    }
                }
                </tbody>
            </table>
           @* @if (dt.Customers.Count() == 0)
            {
                <ul class="inline">
                    <li class="span12 well">暫無行程</li> 
                </ul>
            }
            else
            {
                <ul class="inline">
                    @foreach (var cus in dt.Customers)
                    {
                        string _url1 = ViewContext.RouteData.Route.GetVirtualPath(
                            ViewContext.RequestContext,
                            new RouteValueDictionary() {
                                { "Controller","SmartScheduling" },
                                { "Action","Index" },
                                { "Year", dt.Date.Year },
                                { "Mo", dt.Date.Year },
                            }).VirtualPath;
                        string _url3 = ViewContext.RouteData.Route.GetVirtualPath(
                            ViewContext.RequestContext,
                            new RouteValueDictionary() {
                                { "Controller","visitlog" },
                                { "Action","q" },
                                { "empid", Model.EmpId },
                                { "number", cus.CustomerNumber }
                            }).VirtualPath;
                        <li class="span2 well">
                            <div class="span12"></div>
                            <div><p class="text-info"><a href="#">智慧排程</a></p></div>
                            <div><p class="text-info"><abbr title="@(cus.VisitNote ?? "無")" class="initialism">拜訪重點</abbr></p></div>
                            <div><p class="text-info"><a href="javascript:weekOp('@_url3');">拜訪記錄</a></p></div>
                        </li>
                    }
                </ul>
            }*@
        </div>
    </div>
}

</div>

<script type="text/javascript">
    function weekOp(url) {
        openWindow(url, 'weekWindows', 350, 500);
    }
</script>
