﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();

    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    {
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller;
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower() == "edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}
<script type="text/javascript">
    function CheckData() {

        var StaffLevel = $("input[name='StaffLevel'][type='radio']:checked").val();
        var NewPoints = $("input[name='NewPoints'][type='checkbox']:checked").val();
        var OrderForms = $("input[name='OrderForms'][type='checkbox']:checked").val();
        var MaterialSources = $("input[name='MaterialSources'][type='checkbox']:checked").val();
        var MaterialRatings = $("input[name='MaterialRatings'][type='checkbox']:checked").val();
        var ExtProLines = $("input[name='ExtProLines'][type='checkbox']:checked").val();
        var BranchTypes = $("input[name='BranchTypes'][type='checkbox']:checked").val();
        var ServiceTypes = $("input[name='ServiceTypes'][type='checkbox']:checked").val();
        var Billings = $("input[name='Billings'][type='checkbox']:checked").val();

        var strarray = "不好意思，";

        if (StaffLevel == null) {
            strarray += "\n員工等級";
        }
        if (NewPoints == null) {
            strarray += "\n新點分項";
        }
        if (OrderForms == null) {
            strarray += "\n訂貸方式";
        }
        if (MaterialSources == null) {
            strarray += "\n材料來源";
        }
        if (MaterialRatings == null) {
            strarray += "\n全材料用貨";
        }
        if (ExtProLines == null) {
            strarray += "\n可擴展產品線";
        }
        if (BranchTypes == null) {
            strarray += "\n店數";
        }
        if (ServiceTypes == null) {
            strarray += "\n服務方式";
        }
        if (Billings == null) {
            strarray += "\n請款方式";
        }
        if (strarray != "不好意思，") {
            alert(strarray + "\n為必填");
            return false;
        }
    }
</script>

@model admin.Models.CustomerModel
<div class="editArea">
    @*@Html.ValidationSummary()*@
    <table class="table">
        <tbody>

            <tr>
                <td>
                    Sap Code
                </td>
                <td>
                    @Model.SapCode
                    @Html.HiddenFor(p => p.SapCode)
                    @Html.ValidationMessageFor(p => p.SapCode)
                </td>
            </tr>
            <tr>
                <td width="20%">
                    客戶編號
                </td>
                <td>
                    @Html.HiddenFor(p => p.NID)
                    @if (_Model == "edit")
                    {
                        @Model.Number
                        @Html.HiddenFor(p => p.Number)

                    }
                    else
                    {
                        <text>自動產生</text>
                    }
                </td>
            </tr>

            @*<tr>
                <td>
                    設定代理人
                </td>
                <td>
                    <div id="agentlist">
                    </div>
                    <script type="text/javascript">
                        var jsnumber = '@Model.Number';
                        $(function () {
                            if (typeof (jamzoo.regauto) == "function") {
                                jamzoo.regauto($('#jsempsn'), '@Url.Content("~/Employee/SearchByName")', 1);
                            }
                            getAgentsByEmpSN(jsnumber);
                        });

                        function getAgentsByEmpSN(_number) {
                            $.get(
                                '@Url.Content("~/CustomerAgent/List")',
                                { number: _number },
                                function (json) {
                                    if (json.RS == 0) {
                                        for (var i = 0; i < json.data.length; i++) {
                                            addRow(json.data[i].empsn, json.data[i].empname);
                                        }
                                    }
                                    else {
                                        alert(json.message);
                                    }
                                },
                                "json");
                        }

                        function addRow(_empsn, _empName) {
                            $('#agentlist')
                            .append(
                                $('<div />')
                                    .append(
                                        $('<span />').text(_empName))
                                    .append(
                                        $('<span />').text("(" + _empsn + ")"))
                                    .append(
                                        $('<a />').attr('href', 'javascript:;').text(' 刪除').bind('click', function () {
                                            deleteAgentFromCustomer(this, _empsn);
                                        })
                                    )
                            );
                        }

                        function addAgentToCustomer() {
                            var _empsn = $('#jsempsn').val();
                            $.post(
                                '@Url.Content("~/CustomerAgent/Create")',
                                    { empsn: _empsn, number: jsnumber },
                                    function (json) {
                                        if (json.RS == 0) {
                                            //OK
                                            addRow(json.data.empsn, json.data.empname);
                                            $('#jsempsn').val('');
                                        }
                                        else {
                                            alert(json.message);
                                        }
                                    },
                                    "json");
                        }

                        function deleteAgentFromCustomer(sender, _empsn) {
                            $.post(
                                '@Url.Content("~/CustomerAgent/Delete")',
                                    { empsn: _empsn, number: jsnumber },
                                    function (json) {
                                        if (json.RS != 0) {
                                            alert(json.message);
                                        }
                                        else {
                                            $(sender).parent().remove();
                                        }
                                    },
                                    "json");
                        }

                    </script>
                    <input type="text" name="jsempsn" id="jsempsn" />
                    <input type="button" class="btn" value="新增" onclick="addAgentToCustomer()" />
                </td>
            </tr>*@

            <tr>
                <td>
                    Sales Office
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesOffice, new { @class = "span3", size = "30" })
                    @Html.ValidationMessageFor(p => p.SalesOffice)
                </td>

            </tr>

            <tr>
                <td>
                    Sales Code
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesCode, new { @class = "span3", size = "30" })
                    @Html.ValidationMessageFor(p => p.SalesCode)
                </td>

            </tr>


            <tr>
                <td>
                    關帳
                </td>
                <td>
                    <div class="form-inline">
                        <label class="checkbox">@Html.CheckBox("IsAccountClose", Model.IsAccountClose) 關帳</label>
                        @if (Model.AccountCloseDate.HasValue)
                        {
                            @Model.AccountCloseDate.Value.ToString("yyyy/MM/dd HH:mm:ss")
                        }
                        <script type="text/javascript">
                            $(function () {
                                $('#IsAccountClose').bind('change', function () {
                                    var _s = ($(this).attr('checked') == 'checked') ? 'block' : 'none';
                                    $('#accountclose_div').css({ display: _s });
                                });
                            });
                        </script>
                        <div id="accountclose_div" @(Model.IsAccountClose ? "style=display:block" : "style=display:none")>
                            @{
                                @Html.HiddenFor(p => p.AccountCloseNotes)
                                string[] aryACN = { "結束營業", "轉競品", "帳款問題", "搬家", "其他" };
                                foreach (var r in aryACN)
                                {
                                    bool IsChecked = (Model.AccountCloseNotes != null) ? Model.AccountCloseNotes.Contains(r) : false;
                                    <label class="radio">
                                        <input @(IsChecked ? "checked=checked" : "") type="radio" name="AccountCloseNotess" value="@r" />@r
                                    </label>

                                }
                                string _txt = string.Empty;
                                if (Model.AccountCloseNotes != null)
                                {
                                    if (Model.AccountCloseNotes.Contains("@@-其他-@@"))
                                    {
                                        string[] temps = Model.AccountCloseNotes.Split(new string[] { "@@-其他-@@" }, StringSplitOptions.RemoveEmptyEntries);
                                        if (temps.Length > 1)
                                        {
                                            _txt = temps[1];
                                        }
                                    }
                                }
                                <input type="text" value="@_txt" name="AccountCloseNotesText" />
                            }
                            @*<label class="radio">@Html.RadioButton("AccountCloseNotess", "結束營業") 結束營業</label>
                                <label class="radio">@Html.RadioButton("AccountCloseNotess", "轉競品") 轉競品</label>
                                <label class="radio">@Html.RadioButton("AccountCloseNotess", "帳款問題") 帳款問題</label>
                                <label class="radio">@Html.RadioButton("AccountCloseNotess", "搬家") 搬家</label>
                                <label class="radio">@Html.RadioButton("AccountCloseNotess", "其他") 其他</label>*@
                            @*@Html.TextBoxFor(p => p.AccountCloseNotesText)*@
                        </div>
                        @Html.ValidationMessageFor(p => p.IsAccountClose)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    客戶類別
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        <label class="radio">@Html.RadioButton("Type", 1) 合約客戶</label>
                        <label class="radio">@Html.RadioButton("Type", 2) 潛在客戶</label>
                        <label class="radio">@Html.RadioButton("Type", 3) 潛在客戶轉合約</label>
                        @Html.ValidationMessageFor(p => p.Type)
                        <div id="">
                            @Html.TextBoxFor(p => p.NewNumber, new { @class = "span3", size = "30" })
                            <span class="label label-warning">合約客戶轉正式時，才需要更新客戶編號。</span>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    統一編號
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SN, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.SN)
                </td>
            </tr>

            <tr>
                <td>
                    所屬業務
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.EmpSN, new { @class = "span3", size = "30", placeholder = "請輸入業務名" })
                    @Html.ValidationMessageFor(p => p.EmpSN)
                    <script type="text/javascript">
                        $(function () {
                            if (typeof (jamzoo.regauto) == "function") {
                                jamzoo.regauto($('#EmpSN'), '@Url.Content("~/Employee/SearchByName")', 1);
                            }
                        });
                    </script>
                </td>
            </tr>

            <tr>
                <td>
                    公司名稱
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Name, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Name)
                </td>
            </tr>
            <tr>
                <td>
                    公司名稱全名
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.NameAbbr, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.NameAbbr)
                </td>
            </tr>
            <tr>
                <td>
                    負責人
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Owner, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Owner)
                </td>
            </tr>
            <tr>
                <td>
                    電話 1
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Tel, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Tel)
                </td>
            </tr>

            <tr>
                <td>
                    電話 2
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Tel_2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Tel_2)
                </td>
            </tr>

            <tr>
                <td>
                    傳真
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fax, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fax)
                </td>
            </tr>

            <tr>
                <td>
                    Email
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Email, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Email)
                </td>
            </tr>

            <tr>
                <td>
                    員工人數
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.EmpCount, new { @class = "span2", size = "30" })
                    @Html.ValidationMessageFor(p => p.EmpCount)
                </td>
            </tr>

            <tr>
                <td>
                    所屬部門
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Dep, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Dep)
                </td>
            </tr>

            <tr>
                <td>
                    首次交易日
                    @Html.DisplayFor(p => p.FirstTransDate)
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FirstTransDate, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.FirstTransDate)
                </td>
            </tr>

            <tr>
                <td>
                    最近交易日
                </td>
                <td>
                    @Html.TextBoxFor(p => p.LastTransDate, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.LastTransDate)
                </td>
            </tr>

            <tr>
                <td>
                    銷貨等級
                </td>
                <td>
                    @Html.TextBoxFor(p => p.SalesLevel, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.SalesLevel)
                </td>
            </tr>

            <tr>
                <td>
                    裝潢等級
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Decorating, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Decorating)
                </td>
            </tr>

            <tr>
                <td>
                    員工等級
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        <label class="radio">@Html.RadioButton("StaffLevel", "A") A(6位以上)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "B") B(4.5-5.5位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "C") C(3-4位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "D") D(2-2.5位)</label>
                        <label class="radio">@Html.RadioButton("StaffLevel", "E") E(少於2位)</label>
                        @Html.ValidationMessageFor(p => p.StaffLevel)
                    </div>
                    @*□A(6位以上)　□B(4.5-5.5位) 　□C(3-4位) 　 □D(2-2.5位) 　□E(少於2位)*@
                </td>
            </tr>

            <tr>
                <td>
                    品牌
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Brand, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Brand)
                </td>
            </tr>

            <tr>
                <td>
                    地區
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Area, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Area)
                </td>
            </tr>

            <tr>
                <td>
                    登記地址_郵遞區號
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Postal, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Postal)
                </td>
            </tr>

            <tr>
                <td>
                    登記地址
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.EnrollmentAddr, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.EnrollmentAddr)
                </td>
            </tr>


            <tr>
                <td>
                    送貨地址_縣市
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.TransportAddr_City, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.TransportAddr_City)
                </td>
            </tr>

            <tr>
                <td>
                    送貨地址_區域
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.TransportAddr_Area, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.TransportAddr_Area)
                </td>
            </tr>

            <tr>
                <td>
                    送貨地址_郵遞區號
                    <font color="#FF0000">(*必填)</font>

                </td>
                <td>
                    @Html.TextBoxFor(p => p.TransportAddr_Postal, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.TransportAddr_Postal)
                </td>
            </tr>

            <tr>
                <td>
                    送貨地址
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.TransportAddr, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.TransportAddr)
                </td>
            </tr>



            <tr>
                <td>
                    付款方式
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Payment, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Payment)
                </td>
            </tr>

            <tr>
                <td>
                    分店數
                </td>
                <td>
                    @Html.TextBoxFor(p => p.BranchCount, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.BranchCount)
                </td>
            </tr>

            <tr>
                <td>
                    歇業日期
                </td>
                <td>
                    @Html.TextBoxFor(p => p.CloseDate, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.CloseDate)
                </td>
            </tr>


            <tr>
                <td>
                    郵遞區號 2
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Postal_2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Postal_2)
                </td>
            </tr>

            <tr>
                <td>
                    收款業務員
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.PaymentEmp, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.PaymentEmp)
                </td>
            </tr>

            <tr>
                <td>
                    KMS初次交易日
                </td>
                <td>
                    @Html.TextBoxFor(p => p.FirstTransDate_KMS, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.FirstTransDate_KMS)
                </td>
            </tr>

            <tr>
                <td>
                    開業日期
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OpenningDate, new { @class = "span5", size = "30", placeholder = "yyyy/MM/dd" })
                    @Html.ValidationMessageFor(p => p.OpenningDate)
                </td>
            </tr>

            <tr>
                <td>
                    歇業日期
                </td>
                <td>
                    @Model.CloseDate_2
                    @Html.ValidationMessageFor(p => p.CloseDate_2)
                </td>
            </tr>

            <tr>
                <td>
                    新點分項
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.NewPoint)
                            string[] aryNewPoint = { "自行來電", "展店", "同行介紹", "自行開發" };
                            foreach (var r in aryNewPoint)
                            {
                                bool IsChecked = (Model.NewPoint != null) ? Model.NewPoint.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="NewPoints" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    訂貸方式
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.OrderForm)
                            string[] aryOrderForm = { "電話", "傳真", "email", "自行開發" };
                            foreach (var r in aryOrderForm)
                            {
                                bool IsChecked = (Model.OrderForm != null) ? Model.OrderForm.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="OrderForms" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    產品資訊來源
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.ProductSource)
                            string[] aryProductSource = { "曾使用歌薇產品", "其他設計師推薦", "其他" };
                            foreach (var r in aryProductSource)
                            {
                                bool IsChecked = (Model.ProductSource != null) ? Model.ProductSource.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="ProductSources" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    材料來源
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.MaterialSource)
                            string[] aryMaterialSource = { "沙龍提供", "設計師自購材料" };
                            foreach (var r in aryMaterialSource)
                            {
                                bool IsChecked = (Model.MaterialSource != null) ? Model.MaterialSource.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="MaterialSources" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    全材料用貨
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.MaterialRating)
                            //□1級(10萬以上______)□2級(8-10萬) 　□3級(5-8萬) 　□4級(3-5萬) 　□5級(不足3萬) 約              元
                            string[] aryMaterialRating = { "1級", "2級", "3級", "4級", "5級" };
                            foreach (var r in aryMaterialRating)
                            {
                                bool IsChecked = (Model.MaterialRating != null) ? Model.MaterialRating.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="MaterialRatings" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    可擴展產品線
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.ExtProLine)
                            //□永久染   □護染    □冷燙  □店販造型品    □店販洗療護     □開瓶洗 　□熱塑
                            string[] aryExtProLine = { "永久染", "護染", "冷燙", "店販造型品", "店販洗療護", "開瓶洗", "熱塑" };
                            foreach (var r in aryExtProLine)
                            {
                                bool IsChecked = (Model.ExtProLine != null) ? Model.ExtProLine.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="ExtProLines" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    人員
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            var lStaff = new List<SelectListItem>();
                            lStaff.Add(new SelectListItem() { Value = "設計師", Text = "設計師" });
                            lStaff.Add(new SelectListItem() { Value = "助理", Text = "助理" });
                        }
                        @Html.DropDownListFor(p => p.Staff, lStaff)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    店數
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.BranchType)
                            string[] aryBranchType = { "單點", "區域小型連鎖", "連鎖體系" };
                            foreach (var r in aryBranchType)
                            {
                                bool IsChecked = (Model.BranchType != null) ? Model.BranchType.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="BranchTypes" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    公休日
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OH, new { @class = "span5" })
                </td>
            </tr>

            <tr>
                <td>
                    服務方式
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.ServiceType)
                            //□一人服務 　□預約　□一般流程   □坐洗      □躺洗
                            string[] aryServiceType = { "一人服務", "預約", "一般流程", "坐洗", "躺洗" };
                            foreach (var r in aryServiceType)
                            {
                                bool IsChecked = (Model.ServiceType != null) ? Model.ServiceType.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="ServiceTypes" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    請款方式
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    <div class="form-inline">
                        @{
                            @Html.HiddenFor(p => p.Billing)
                            string[] aryBilling = { "現金", "刷卡", "支票" };
                            foreach (var r in aryBilling)
                            {
                                bool IsChecked = (Model.Billing != null) ? Model.Billing.Contains(r) : false;
                                <label class="checkbox">
                                    <input @(IsChecked ? "checked=checked" : "") type="checkbox" name="Billings" value="@r" />@r
                                </label>
                            }
                        }
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    現有合約狀況 - 廠商／日期
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.S1, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.S1)
                </td>
            </tr>

            <tr>
                <td>
                    現有合約狀況 - 金額／折扣
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.S2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.S2)
                </td>
            </tr>

            <tr>
                <td>
                    現有合約狀況 - 產品
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.S3, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.S3)
                </td>
            </tr>

            <tr>
                <td>
                    客戶等級
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Rating, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Rating)
                </td>
            </tr>


            <tr>
                <td>
                    染劑
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.ProductType1, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.ProductType1)
                </td>
            </tr>
            <tr>
                <td>
                    護染
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.ProductType2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.ProductType2)
                </td>
            </tr>
            <tr>
                <td>
                    冷燙
                </td>
                <td>
                    @Html.TextBoxFor(p => p.ProductType3, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.ProductType3)
                </td>
            </tr>
            <tr>
                <td>
                    護髮
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.ProductType4, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.ProductType4)
                </td>
            </tr>
            <tr>
                <td>
                    熱塑
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.ProductType5, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.ProductType5)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    現有產品使用情況
                </td>
            </tr>

            <tr>
                <td>
                    剪髮收費
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fee1, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fee1)
                </td>
            </tr>
            <tr>
                <td>
                    彩護收費
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fee2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fee2)
                </td>
            </tr>
            <tr>
                <td>
                    燙髮收費
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fee3, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fee3)
                </td>
            </tr>
            <tr>
                <td>
                    護髮收費
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fee4, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fee4)
                </td>
            </tr>
            <tr>
                <td>
                    熱塑收費
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.Fee5, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.Fee5)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <p class="text-info">
                        聯絡資訊
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    經營者䁥稱
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OwnerNick, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OwnerNick)
                </td>
            </tr>

            <tr>
                <td>
                    經營者身份
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OwnerTitle, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OwnerTitle)
                </td>
            </tr>
            <tr>
                <td>
                    經營者身份證
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OwnerNum, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OwnerNum)
                </td>
            </tr>
            <tr>
                <td>
                    經營者EMAIL
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OwnerEmail, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OwnerEmail)
                </td>
            </tr>
            <tr>
                <td>
                    經營者電話
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OwnerTel, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OwnerTel)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <p class="text-info">
                        KMS
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    KMS - 歌薇現有合約客戶
                </td>
                <td>
                    @Html.TextBoxFor(p => p.KMS1, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.KMS1)
                </td>
            </tr>

            <tr>
                <td>
                    KMS - 歌薇現有合約客戶
                </td>
                <td>
                    @Html.TextBoxFor(p => p.KMS2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.KMS2)
                </td>
            </tr>
            <tr>
                <td>
                    KMS - 歌薇現有合約客戶
                </td>
                <td>
                    @Html.TextBoxFor(p => p.KMS3, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.KMS3)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <p class="text-info">
                        現有OTC品牌使用情況
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    OTC品牌-店販
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OTC1, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OTC1)
                </td>
            </tr>

            <tr>
                <td>
                    OTC品牌-洗護
                    <font color="#FF0000">(*必填)</font>
                </td>
                <td>
                    @Html.TextBoxFor(p => p.OTC2, new { @class = "span5", size = "30" })
                    @Html.ValidationMessageFor(p => p.OTC2)
                </td>
            </tr>

            @*<tr>
                    <td>Sales Code
                    </td>
                    <td>
                        @Html.TextBoxFor(p => p.SalesCode, new { @class = "span3", size = "30" })
                        @Html.ValidationMessageFor(p => p.SalesCode)
                    </td>
                </tr>*@
        </tbody>
    </table>
</div>


<div class="BTNcenter">
    <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript: return CheckData(); return confirm('確定儲存送出嗎?');">
    <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")        ';}">
</div>
