﻿@model admin.Models.CustomerListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<!-- Modal -->
<div id="import" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">匯入客戶資料</h3>
  </div>
    @using (Html.BeginForm("Import", "Customer", null, FormMethod.Post,
        new { id = "f1", @class = "form-inline", style = "margin-bottom:0px", enctype = "multipart/form-data", target = "fileupload" })
    )
    {
        <div class="modal-body">
@*            <p>請選擇 excel 檔案 … (<a href="@Url.Content("~/App_Data/Customer.xls")">下載 Excel</a>)</p>*@
            <input type="file" name="f" />
        </div>
        <div class="modal-footer">
            <input class="btn" type="submit" value="上傳" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
        </div>
    }
    <script type="text/javascript">
        var excel = {};
        excel.onComplete = function (data) {
            if (data.RS == 'OK') {
                alert('上傳成功');
                //document.forms['f1'].reset();
                //$('#import').modal('hide');
                location.href = '@Url.Content("~/Customer/List")';
            }
            else {
                alert(data.msg);
            }
        }
    </script>
    <iframe name="fileupload" style="display:none;"></iframe>
</div>
<!-- Modal End-->

<script type="text/javascript">
    $(function () {
        if (typeof (jamzoo.regauto) == "function") {
            jamzoo.regauto($('#EmpSN'), '@Url.Content("~/Employee/SearchByName")', 1);
            jamzoo.regauto($('#Number'), '@Url.Content("~/Customer/SearchByName")', 1);
        }
    });
</script>

<div class="well">
    @using (Html.BeginForm("List", _Controller, FormMethod.Get))
    {
        <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增客戶</a>
        <a class="btn btn-primary" href="#import" data-toggle="modal">匯入資料</a>
        <p>
        @Html.TextBoxFor(p => p.Area, new { @class = "input-medium", style="margin:2px 2px;", placeholder = "地區" })
        @Html.TextBoxFor(p => p.Number, new { @class = "input-medium", style="margin:2px 2px;", placeholder = "客戶編號" })
        @Html.TextBoxFor(p => p.CustomerName, new { @class = "input-medium", style="margin:2px 2px;", placeholder = "客戶名稱" })
        @Html.TextBoxFor(p => p.EmpSN, new { @class = "input-medium", style="margin:2px 2px;", placeholder = "業務編號" })
        <input type="submit" class="btn" value="查詢" />
        </p>
    }
</div>
@*<div class="well">
    <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增</a>
    <a class="btn btn-primary" href="#import" data-toggle="modal">匯入資料</a>
</div>*@
@if (TempData["error"] != null)
{
    <div class="alert">
@*        <button type="button" class="close" data-dismiss="alert">&times;</button>*@
    <strong></strong> @TempData["message"]
    </div>
}
<div style="text-align:right; ">
總共： @Model.TotalRecords 筆
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:300px;"> </th>
            <th>客戶名稱</th>
            <th>Sap Code</th>
            <th>地址</th>
            <th>電話</th>
            <th style="width:60px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="6">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Number }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Number }
                    }).VirtualPath;

                string 拜訪記錄Url = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "controller" , "VisitLog" },
                        { "action" , "List" },
                        { "SearchText" , Row.Number }
                    }).VirtualPath;

                string 待辦事項Url = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "controller" , "CustomerMemo" },
                        { "action" , "List" },
                        { "SearchText" , Row.Number }
                    }).VirtualPath;

                string 交辦事項Url = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "controller" , "CustomerAssignment" },
                        { "action" , "List" },
                        { "SearchText" , Row.Number }
                    }).VirtualPath;

                string 聯絡人Url = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "controller" , "CustomerContactInfo" },
                        { "action" , "List" },
                        { "SearchText" , Row.Number }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a class="btn" href="@Url.Content(EditUrl)" title="編輯">編輯</a>
                        <a class="btn" href="@Url.Content(拜訪記錄Url)" title="拜訪記錄">拜訪</a>
                        <a class="btn" href="@Url.Content(待辦事項Url)" title="待辦事項">待辦</a>
                        <a class="btn" href="@Url.Content(交辦事項Url)" title="交辦事項">交辦</a>
                        <a class="btn" href="@Url.Content(聯絡人Url)" title="聯絡人">聯絡人</a>
                    </td>
                    <td>@Row.Name</td>
                    <td>@Row.SapCode</td>
                    <td>@Row.TransportAddr</td>
                    <td>@Row.Tel</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                        刪除</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="6">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@


<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        .AddRouteValue("EmpSN", Model.EmpSN)
        .AddRouteValue("Area", Model.Area)
        .AddRouteValue("Number", Model.Number)
        )
    </ul>
</div>