﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>產品訂購頁</title>
@*    <meta name="viewport" content="width=702px, initial-scale=1.0">*@
    <meta name="viewport" content="width=702, initial-scale=1.0">
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/bootstrap/css/flat-ui.css")" type="text/css" rel="stylesheet" />
    <style type="text/css">
        * {
            padding:0;
            margin:0;
        }

        .jzmodal { opacity:0.8; position:fixed; top:0; right:0; bottom:0; left:0; z-index:999; background-color: black; } 
        .jzmodal_text { position:fixed; top:30%; right:50%; color:white; display:inline; } 
        .jzshow { display:inherit; }
        .jzclose { display:none; }
        
    </style>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout/knockout-2.2.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/database.js")"></script>
</head>
<body>
    <div class="container" style="width:702px; overflow:hidden;">
        <div class="demo-row" style="padding:10px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
