﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.ProductModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        產品編號
					</td>
					<td>
                        @if (_Model == "edit")
                        {
                            @Model.SN
						    @Html.HiddenFor(p => p.SN)
                        }
                        else
                        {
                            @Html.TextBoxFor(p => p.SN)
                        }
					</td>
				</tr>

                <tr>
					<td>
                        品牌 
					</td>
					<td>
                        @Html.TextBoxFor(p => p.Brand)
					</td>
				</tr>

				<tr>
					<td>
                        產品類別
					</td>
					<td>
                        <div class="form-inline">
                        @Html.HiddenFor(p => p.Type)
                        @{
                            string[] aryType = { "染劑", "護染", "冷燙" };

                            foreach (var r in aryType)
                            {
                                <label class="checkbox">
                                    <input type="checkbox" name="types" value="@r" @(Model.Type.Contains(r) ? "checked=checked":"") /> @r
@*                                    @Html.CheckBox("Types", Model.Type.Contains(r), new { value = r })@r*@
                                </label>
                            }
                        }
                        </div>
					</td>
				</tr>

                <tr>
					<td>
                        子類別
					</td>
					<td>
						@Html.TextBoxFor(p => p.Serial, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Serial)
					</td>
				</tr>

				<tr>
					<td>
                        產品名稱 
					</td>
					<td>
						@Html.TextBoxFor(p => p.Pname, new { @class = "span3", size = "30"})
						@Html.ValidationMessageFor(p => p.Pname)
					</td>
				</tr>

				<tr>
					<td>
                        規格
					</td>
					<td>
						@Html.TextBoxFor(p => p.Spec, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Spec)
					</td>
				</tr>
				<tr>
					<td>
                        備註
					</td>
					<td>
						@Html.TextAreaFor(p => p.Summmary, new { @class = "span10" })
						@Html.ValidationMessageFor(p => p.Summmary)
					</td>
				</tr>

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>