﻿@model admin.Models.ProductListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<!-- Modal -->
<div id="import" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">匯入客戶資料</h3>
  </div>
    @using (Html.BeginForm("Import", "Product", null, FormMethod.Post,
        new { id = "f1", @class = "form-inline", style = "margin-bottom:0px", enctype = "multipart/form-data", target = "fileupload" })
    )
    {
        <div class="modal-body">
            <p>請選擇 excel 檔案 … (<a href="@Url.Content("~/App_Data/Product.xls")">下載 Excel</a>)</p>
            <input type="file" name="f" />
        </div>
        <div class="modal-footer">
            <input class="btn" type="submit" value="上傳" />
            <button class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
        </div>
    }
    <script type="text/javascript">
        var excel = {};
        excel.onComplete = function (data) {
            if (data.RS == 'OK') {
                alert('上傳成功');
                document.forms['f1'].reset();
                $('#import').modal('hide');
            }
            else {
                alert(data.msg);
            }
        }
    </script>
    <iframe name="fileupload" style="display:none;"></iframe>
</div>
<!-- Modal End-->

<div class="well">
     @using (Html.BeginForm("List", _Controller, FormMethod.Get))
    {
    @Html.TextBoxFor(p => p.SearchText, new { @class = "input-medium", style="margin-bottom:0px;" })
    <input type="submit" class="btn" value="查詢" />
    <a class="btn btn-primary" href="#import" data-toggle="modal">匯入資料</a>
    }
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>產品編號</th>
            <th>品牌</th>
            <th>類別</th>
            <th>子類別</th>
            <th>名稱</th>
            <th>型號</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="8">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Id }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Id }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a class="btn" href="@Url.Content(EditUrl)"> <i class="icon-file"></i></a>
                    </td>
                    <td>@Row.SN</td>
                    <td>@Row.Brand</td>
                    <td>@Row.Type</td>
                    <td>@Row.Serial</td>
                    <td>@Row.Pname</td>
                    <td>@Row.Spec</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="8">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        )
    </ul>
</div>