﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}

<div class="well">
@*    <form enctype="multipart/form-data"></form>*@
    @using (Html.BeginForm("Update", "Loading", null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <p class="label">1024 * 748</p>
        <input type="file" name="Image" />
        <input type="submit" value="更新" />
        <br />
        <img src="@Url.Content("~/Content/Images/login_pic.jpg?r" + DateTime.Now.ToString("MMddHHmmss"))" />
    }
</div>
