﻿@model admin.Models.SqliteDbModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        @Html.ValidationMessage(" ")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
					    版號	
					</td>
					<td>
                        @Model.Version
						@Html.HiddenFor(p => p.Version)
					</td>
				</tr>

				<tr>
					<td>
						版號
					</td>
					<td>
                        v.
						@Html.TextBoxFor(p => p.Major, new { @class = "span1" })
						@Html.ValidationMessageFor(p => p.Major)
                        .
                        @Html.TextBoxFor(p => p.Minor, new { @class = "span1" })
                        @Html.ValidationMessageFor(p => p.Minor)
                        .
                        @Html.TextBoxFor(p => p.Fixed, new { @class = "span1" })
                        @Html.ValidationMessageFor(p => p.Fixed)
					</td>
				</tr>


                <tr>
                    <td>
                        Sql Command 檔案
                    </td>
                    <td>
                        <input type="file" name="SqlFileFile" />
                        @Html.HiddenFor(p => p.SqlFile)
                    </td>

                </tr>


                <tr>
                    <td>
                        建立時間
                    </td>
                    <td>
                        @Model.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")
                    </td>

                </tr>

              

            </tbody>
        </table>
    </div>

	@{
		string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
		
		string _AreaName = null;

        if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
        { 
            _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
            _Controller = _AreaName + "/" + _Controller; 
        }
	}

    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>