﻿@model admin.Models.SqliteDbModel

@{
     string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Update", _Controller,
    new { Major = Model.Major, Minor = Model.Minor, Fixed = Model.Fixed }, 
    FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.Partial("_EditArea", Model)
}