﻿@model admin.Models.SqliteDbListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;
}
<div class="well">
    <a class="btn btn-primary" href="@Url.Content(AddUrl)">新增</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th> </th>
            <th>Version</th>
            <th>Sql 檔案</th>
            <th>建立時間</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="5">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "Major" , Row.Major },
                        { "Minor" , Row.Minor },
                        { "Fixed" , Row.Fixed }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "Major" , Row.Major },
                        { "Minor" , Row.Minor },
                        { "Fixed" , Row.Fixed }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a class="btn" href="@Url.Content(EditUrl)"> <i class="icon-file"></i></a>
                    </td>
                    <td>@Row.Version</td>
                    <td>@Row.SqlFile</td>
                    <td>@Row.CreateDate</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="5">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pager", (admin.Models.PagerModel)Model)