﻿@using admin.Models;
@model admin.Models.CustomerTaskModel
@{
    Layout = null;
    string strToken = string.Empty;
    if (Request.QueryString["token"] != null)
    {
        strToken = Request.QueryString["token"].ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>任務指派</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="au○thor" content="" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
        .field-validation-error
        {
            color:red;
        }
    </style>
</head>
<body>
    @if (!ViewContext.ViewData.ModelState.IsValid)
    {
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong>
    @Html.ValidationSummary() 
    </div>
    }
    <div>
        @using (Html.BeginForm("create", "task", new { area = "app", token = strToken }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="control-group">
                <label class="control-label" for="strDate">開始時間</label>
                <div class="controls">
                    @Html.TextBoxFor(p => p.strDate, new { placeholder="yyyy/MM/dd" })
                    @Html.ValidationMessageFor(p => p.strDate)
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="strDeadLine">結束時間</label>
                <div class="controls">
                    @Html.TextBoxFor(p => p.strDeadLine, new { placeholder="yyyy/MM/dd" })
                    @Html.ValidationMessageFor(p => p.strDeadLine)
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="ToEmp">指派對像</label>
                <div class="controls">
                    @Html.TextBoxFor(p => p.ToEmp)
                    @Html.ValidationMessageFor(p => p.ToEmp)
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="Title">標題</label>
                <div class="controls">
                    @Html.TextBoxFor(p => p.Title)
                    @Html.ValidationMessageFor(p => p.Title)
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                 @* <label class="checkbox">
                    <input type="checkbox"> Remember me
                  </label>*@
                  <button type="submit" class="btn">送出</button>
                </div>
              </div>
        }
    </div>
   
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
</body>
</html>
