﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}

@model admin.Models.BulletinModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        主旨
                        @Html.HiddenFor(p => p.Id)
					</td>
					<td>
                        @Html.TextBoxFor(p => p.Subject, new { @class = "span8" })
					</td>
				</tr>

                 <tr>
					<td>
                        分類
					</td>
					<td>
                        <select class="span4" name="Category">
                            <option value="管理公告">管理公告</option>
                            <option value="人事公告">人事公告</option>
                            <option value="業務公告">業務公告</option>
                            <option value="企劃公告">企劃公告</option>
                        </select>
					</td>
				</tr>

                <tr>
					<td>
                        內文
					</td>
					<td>
                        @Html.TextAreaFor(p => p.Context, new { @style = "width:90%; height:100px;" })
					</td>
				</tr>

				<tr>
					<td>
                        狀態
					</td>
					<td>
                        <label class="label">@Html.RadioButtonFor(p => p.Status, 0) 下線</label>
                        <label class="label">@Html.RadioButtonFor(p => p.Status, 1) 上線</label>
					</td>
				</tr>

                @*<tr>
					<td>
                        建立人員
					</td>
					<td>
                        @Html.TextBoxFor(p => p.CreateEmpNo)
					</td>
				</tr>*@

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List")';}">
    </div>