﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}
<script type="text/javascript">
    $(function () {
        if (typeof (jamzoo.regauto) == "function") {
            jamzoo.regauto($('#EmpSN'), '@Url.Content("~/Employee/SearchByName")', 1);
            jamzoo.regauto($('#CustomerNumber'), '@Url.Content("~/Customer/SearchByName")', 1);
        }
    });
</script>
@model admin.Models.ScheduleModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table border="0" cellpadding="0" cellspacing="0" class="table jamzoo-middle">
            <tbody>
                <tr>
					<td width="20%" class="star1">
                        日期
                        <br />
                        <span class="label label-info">格式 [yyyy/MM/dd]</span>
					</td>
					<td>
@*                        @Html.TextBox("Date", Model.Date.ToString("yyyy/MM/dd"), new { @class = "span2", size = "30"})*@
                        @Html.TextBoxFor(p => p.strDate, new { @class = "span2", size = "30" })
                        @Html.ValidationMessageFor(p => p.strDate)

                        @Html.HiddenFor(p => p.strStartTime)
                        @Html.HiddenFor(p => p.strEndTime)
					</td>
				</tr>

@*                <tr style="display:none;">
					<td>
                        期間
                        <br />
                        <span class="label label-info">格式 [HH:mm:ss]</span>
					</td>
					<td>
                        @Html.TextBoxFor(p => p.strStartTime, new { @class = "span1", size = "30"})
                        @Html.ValidationMessageFor(p => p.strStartTime)
                        @Html.TextBoxFor(p => p.strEndTime, new { @class = "span1", size = "30"})
                        @Html.ValidationMessageFor(p => p.strEndTime)
					</td>
				</tr>*@

				<tr>
					<td>
                        客戶編號
					</td>
					<td>
                        @Html.TextBoxFor(p => p.CustomerNumber, new { @class = "span2", size = "30" })
                        @Html.ValidationMessageFor(p => p.CustomerNumber)
                        @if (_Model == "edit")
                        {
                            <a href="@Url.Content("~/Customer/Edit/" + Model.CustomerNumber)">@Model.CustomerName</a>
                        }
					</td>
				</tr>

                <tr>
					<td>
                        業務編號
					</td>
					<td>
						@Html.TextBoxFor(p => p.EmpSN, new { @class = "span2", size = "30"})
						@Html.ValidationMessageFor(p => p.EmpSN)
					</td>
				</tr>

				<tr>
					<td>
                        狀態
					</td>
					<td>
                        <span class="form-inline">

                        @Html.RadioButtonFor(e => e.Status, 0, new { id = "s0" })
                        @Html.Label("s0", "未拜訪")

                        @Html.RadioButtonFor(e => e.Status, 1, new { id = "s1" })
                        @Html.Label("s1", "已拜訪")
                        </span>
					</td>
				</tr>

            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/Index?EmpId=" + Model.EmpSN)';}">
        @if (_Model == "edit")
        {
        <input type="button" class="btn" id="btn_delete" name="btn_delete" value="刪除" onclick="javascript:if (confirm('確定刪除?')){window.location.href='@Url.Content("~/" + _Controller + "/Delete/" + Model.Id)';}" />
        }
    </div>