﻿@model admin.Models.ScheduleListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
              new RouteValueDictionary() { 
                    { "action" , "add" }
                }).VirtualPath;
}
@section css{
    <link rel='stylesheet' type='text/css' href='@Url.Content("~/scripts/fullcalendar/fullcalendar.css")' />
    <link rel='stylesheet' type='text/css' href='@Url.Content("~/scripts/fullcalendar/fullcalendar.print.css")' media='print' />

    <style type='text/css'>

        
        #calendar {
            width: 900px;
            }

    </style>

}
@section js{
    @*<script type='text/javascript' src='@Url.Content("~/Scripts/jquery-ui-1.8.23.custom.min.js")'></script>*@
    <script type='text/javascript' src='@Url.Content("~/Scripts/fullcalendar/fullcalendar.js")'></script>
    <script type="text/javascript">

        var calendar = null;
        var y = parseInt('@(Model.Year)') ;
        var m = parseInt('@(Model.Month)');

        $(function () {
            init();
            getAllEvent();
        });

        function init() {
            calendar = $('#calendar').fullCalendar({
                editable: true,
                titleFormat: {
                    month: 'yyyy/MM ',                              // September 2009
                    week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",  // Sep 7 - 13 2009
                    day: 'dddd, MMM d, yyyy'                        // Tuesday, Sep 8, 2009
                },
                eventClick: function (calEvent, jsEvent, view) {

                    //alert('Event: ' + calEvent.title);
                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                    //alert('View: ' + view.name);
                    
                    location.href = '@Url.Content("~/Schedule/Edit/")' + calEvent.id;
                }
            });
        }
        function getAllEvent() {
            var _resource = '@Url.Content("~/Schedule/GetEvents?")';
            var _empId = $('#EmpId').val();

            if (_empId.length > 0) {

                _resource += 'EmpId=' + _empId + '&';
                _resource += 'Year=' + y + '&';
                _resource += 'Month=' + m;

                $.ajax({
                    url: _resource,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data.RS == "OK") {
                            renderEvents(data.data);
                        }
                        else {
                            alert(data.Msg);
                        }
                    }
                });
            }
           
        }

        var tempEvents = null;
        function renderEvents(events) {
            var aryEvents = new Array(events.length);

            for (var i = 0; i < events.length; i++) {
                var ddd = events[i];

                var nEvent = { };
                nEvent.title = ddd.title;
                nEvent.id = ddd.id;
                nEvent.start = new Date(ddd.y, ddd.m - 1, ddd.d)

                aryEvents[i] = nEvent;
                 
            }
            $(calendar).fullCalendar('removeEventSource', tempEvents);
            tempEvents = aryEvents;
            $(calendar).fullCalendar('addEventSource', aryEvents);
            
        }
        function toAddPage() {
            var _addUri = '@(AddUrl)';
            var _empId = $('#EmpId').val();

            _addUri += '?EmpSN=' + _empId;
            location.href = _addUri;
            //alert(_addUri);
        }
    </script>
}

<div class="well form-inline">  
    @Html.TextBoxFor(p => p.EmpId)
    <input type="button" class="btn" onclick="getAllEvent()" value="查詢" />
    <a onclick="toAddPage()" class="btn btn-primary" href="javascript:;">新增</a>
</div>

<div id='calendar'></div>
