﻿@model admin.Models.CVRPage
@{
    ViewBag.Title = "客戶拜訪統計";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
        new RouteValueDictionary() { 
            { "action", "CVRByYearRating" },
            { "token", Request.QueryString["token"].ToString() },
            { "year", Model.Year }
            //{ "month", Model.Month },
        }).VirtualPath;

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }
}

@if (f.ToLower().Equals("table"))
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>級數</td>
                @foreach (int r in Model.ByYearData.Select(p => p.Rating))
                {
                    <td>@r 級</td>
                }
            </tr>
        </thead>
            <tr>
                <td>@Model.Year</td>
                @foreach (int r in Model.ByYearData.Select(p => p.Rating))
                {
                    int t = Model.ByYearData.Where(p => p.Rating == r).Select(p => p.Times).FirstOrDefault();
                    var _url = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                            { "action", "CVRByYearRating" },
                            { "token", Request.QueryString["token"].ToString() },
                            { "year", Model.Year },
                            { "rating", r },
                            { "format", "table" }
                        }).VirtualPath;
                   <td>
                       <a href="@Html.Raw(Url.Content("~/" + _url))">
                       @t</a>
                   </td> 
                }
            </tr>
        <tbody>
        </tbody>
    </table>
}
else
{
     <script type="text/javascript">
         var _actualary = @oseializer.Serialize(Model.ByYearData.Select(p => p.Times).ToArray());
         var _lastyearary = @oseializer.Serialize(Model.ByYearData.Select(p => p.LastYearTimes).ToArray());
         var _xCategory = @oseializer.Serialize(Model.ByYearData.Select(p => p.Rating).ToArray());
         var _clickFunction = function (obj) { 
             var serName = obj.series.name;
             var _url = '@Html.Raw(Url.Content("~/" + path))' + '&rating=' + (obj.x);
        location.href= _url;
    };
        
    $(function () {
        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                exporting: {
                    buttons: {
                        printButton:{
                            enabled:false
                        },
                        exportButton: {
                            enabled:false
                        }
                    }
                },
                chart: {
                    renderTo: 'container'
                },
                title: {
                    text: ''
                },
                yAxis: { title: { text: '' }  },
                xAxis: {
                    categories: _xCategory
                },
                tooltip: {
                    enabled:false,
                    formatter: function () {
                        var s;
                        if (this.point.name) { // the pie chart
                            s = '' +
                                this.point.name + ': ' + this.y + ' fruits';
                        } else {
                            s = '' +
                                this.x + ': ' + this.y;
                        }
                        return s;
                    }
                },
                labels: {
                    items: [{
                        html: '',
                        style: {
                            left: '40px',
                            top: '8px',
                            color: 'black'
                        }
                    }]
                },
                plotOptions:{
                    series: { 
                        point: { 
                            events: { 
                                click: function() { 
                                    var obj = this;
                                    _clickFunction(obj);
                                }
                            } 
                        }
                    }
                },
                series: [
                    {
                        type: 'column',
                        name: '實際值',
                        color: '#9DDA01',
                        data: _actualary
                    },
                    {
                        type: 'spline',
                        name: '去年同期',
                        data: _lastyearary,
                        color: '#E9D120',
                        marker: {
                            lineWidth: 2,
                            //lineColor: Highcharts.getOptions().colors[3],
                            lineColor: '#E9D120',
                            fillColor: '#E9D120'
                        }
                    }]
            });
        });

    });
</script>
}
