﻿@using admin.Extensions;
@model admin.Models.CVTPage
@{
    ViewBag.Title = "客戶拜訪統計-合約客戶";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    int Days = DateTime.DaysInMonth(Model.Year, Model.Month);
    string arycate = oseializer.Serialize(Days.GenerateArray());

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }

}
@if (f.ToLower() == "table")
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>日期</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in Model.ByMonthData)
            {
                <tr>
                    <td>@row.Day</td>
                    <td>@row.Times</td>
                    <td>@row.LastYearTimes</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <script type="text/javascript">
        var _actualary = @oseializer.Serialize(Model.ByMonthData.Select(p => p.Times).ToArray());
        var _lastyearary = @oseializer.Serialize(Model.ByMonthData.Select(p => p.LastYearTimes).ToArray());
        var _xAxis = @Html.Raw(arycate);
            
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    exporting: {
                        buttons: {
                            printButton:{
                                enabled:false
                            },
                            exportButton: {
                                enabled:false
                            }
                        }
                    },
                    chart: {
                        renderTo: 'container'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: { title: { text: '' }  },
                    xAxis: {
                        categories: _xAxis
                    },
                    tooltip: {
                        formatter: function () {
                            var s;
                            if (this.point.name) { // the pie chart
                                s = '' +
                                    this.point.name + ': ' + this.y + ' fruits';
                            } else {
                                s = '' +
                                    this.x + ': ' + this.y;
                            }
                            return s;
                        }
                    },
                    labels: {
                        items: [{
                            html: '',
                            style: {
                                left: '40px',
                                top: '8px',
                                color: 'black'
                            }
                        }]
                    },
                    series: [
                        {
                            type: 'column',
                            name: '拜訪次數',
                            color: '#9DDA01',
                            data: _actualary
                        },
                        {
                            type: 'spline',
                            name: '去年同期',
                            data: _lastyearary,
                            color: '#E9D120',
                            marker: {
                                lineWidth: 2,
                                //lineColor: Highcharts.getOptions().colors[3],
                                lineColor: '#E9D120',
                                fillColor: '#E9D120'
                            }
                        }]
                });
            });

        });
    </script>

}