﻿@model admin.Models.CVTPage
@{
    ViewBag.Title = "客戶拜訪統計-合約客戶";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
        new RouteValueDictionary() { 
            { "action", "cvtbymonth" },
            { "token", Request.QueryString["token"].ToString() },
            { "year", Model.Year },
            { "type" , Model.Type },
            //{ "month", Model.Month },
        }).VirtualPath;

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }
}

@if (f.ToLower().Equals("table"))
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>月份</td>
                <td>拜訪次數</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in Model.ByYearData)
            {
                var row_path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action", "cvtbymonth" },
                        { "token", Request.QueryString["token"].ToString() },
                        { "year", Model.Year },
                        { "type" , Model.Type },
                        { "month", row.Month },
                        { "format", "table" }
                    }).VirtualPath; 
                <tr>
                    <td>
                        <a href="@Url.Content("~/" + row_path)">
                            @row.Month
                        </a>
                    </td>
                    <td>@row.Times</td>
                    <td>@row.LastYearTimes</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
     <script type="text/javascript">
         var _actualary = @oseializer.Serialize(Model.ByYearData.Select(p => p.Times).ToArray());
         var _lastyearary = @oseializer.Serialize(Model.ByYearData.Select(p => p.LastYearTimes).ToArray());
         var _clickFunction = function (obj) { 
                var serName = obj.series.name;
                //alert(obj.category);
                var _url = '@Html.Raw(Url.Content("~/" + path))' + '&month=' + (obj.x + 1);
                location.href= _url;
            };
        
         $(function () {
             var chart;
             $(document).ready(function () {
                 chart = new Highcharts.Chart({
                     exporting: {
                         buttons: {
                             printButton:{
                                 enabled:false
                             },
                             exportButton: {
                                 enabled:false
                             }
                         }
                     },
                     chart: {
                         renderTo: 'container'
                     },
                     title: {
                         text: ''
                     },
                     yAxis: { title: { text: '' }  },
                     xAxis: {
                        categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                     },
                     tooltip: {
                         enabled:false,
                         formatter: function () {
                             var s;
                             if (this.point.name) { // the pie chart
                                 s = '' +
                                     this.point.name + ': ' + this.y + ' fruits';
                             } else {
                                 s = '' +
                                     this.x + ': ' + this.y;
                             }
                             return s;
                         }
                     },
                     labels: {
                         items: [{
                             html: '',
                             style: {
                                 left: '40px',
                                 top: '8px',
                                 color: 'black'
                             }
                         }]
                     },
                     plotOptions:{
                         series: { 
                             point: { 
                                 events: { 
                                     click: function() { 
                                         var obj = this;
                                         _clickFunction(obj);
                                     }
                                 } 
                             }
                         }
                     },
                     series: [
                         {
                             type: 'column',
                             name: '拜訪次數',
                             color: '#9DDA01',
                             data: _actualary
                         },
                         {
                             type: 'spline',
                             name: '去年同期',
                             data: _lastyearary,
                             color: '#E9D120',
                             marker: {
                                 lineWidth: 2,
                                 //lineColor: Highcharts.getOptions().colors[3],
                                 lineColor: '#E9D120',
                                 fillColor: '#E9D120'
                             }
                         }]
                 });
             });

         });
    </script>
}