﻿@model admin.Models.KpiPage
@{
    ViewBag.Title = "KPI淨度";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
        new RouteValueDictionary() { 
            { "action", "KPIByMonth" },
            { "token", Request.QueryString["token"].ToString() },
            { "year", Model.Year },
            { "itemid", Model.KpiItemId },
        }).VirtualPath;

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }
}
@if (f.ToLower().Equals("table"))
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>月份</td>
                <td>實際業績</td>
                <td>去年同期</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.ByItemData)
            {
                string _url = ViewContext.RouteData.Route.GetVirtualPath(
                    ViewContext.RequestContext,
                    new RouteValueDictionary() {
                        { "action", "kpibymonth" },
                        { "token", Request.QueryString["token"].ToString() },
                        { "year", Model.Year },
                        { "itemid", Model.KpiItemId },
                        { "month", row.Month },
                        { "format", "table" }
                    }).VirtualPath;
                <tr>
                    <td>
                        <a href="@Url.Content("~/" + _url)">
                            @row.Month
                        </a>
                    </td>
                    <td>@row.Amt</td>
                    <td>@row.LastYearAmt</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <script type="text/javascript">
        var _actualary = @oseializer.Serialize(Model.ByItemData.Select(p => p.Amt).ToArray());
        var _lastyearary = @oseializer.Serialize(Model.ByItemData.Select(p => p.LastYearAmt).ToArray());
        var _xCategory = @Html.Raw(oseializer.Serialize(Model.ByItemData.Select(p => p.Month).ToArray()));

        var _clickFunction = function (obj) { 
            var serName = obj.series.name;
            var _url = '@Html.Raw(Url.Content("~/" + path))' + '&month=' + (obj.x + 1);
            location.href= _url;
        };
        
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    exporting: {
                        buttons: {
                            printButton:{
                                enabled:false
                            },
                            exportButton: {
                                enabled:false
                            }
                        }
                    },
                    chart: {
                        renderTo: 'container'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: { title: { text: '' }  },
                    xAxis: {
                        categories: _xCategory
                       
                    },
                    tooltip: {
                        enabled:false,
                        formatter: function () {
                            var s;
                            if (this.point.name) { // the pie chart
                                s = '' +
                                    this.point.name + ': ' + this.y + ' fruits';
                            } else {
                                s = '' +
                                    this.x + ': ' + this.y;
                            }
                            return s;
                        }
                    },
                    labels: {
                        items: [{
                            html: '',
                            style: {
                                left: '40px',
                                top: '8px',
                                color: 'black'
                            }
                        }]
                    },
                    plotOptions:{
                        series: { 
                            point: { 
                                events: { 
                                    click: function() { 
                                        var obj = this;
                                        _clickFunction(obj);
                                    }
                                } 
                            }
                        }
                    },
                    series: [
                        {
                            type: 'column',
                            name: '實際值',
                            color: '#9DDA01',
                            data: _actualary
                        },
                        {
                            type: 'spline',
                            name: '去年同期',
                            data: _lastyearary,
                            color: '#E9D120',
                            marker: {
                                lineWidth: 2,
                                //lineColor: Highcharts.getOptions().colors[3],
                                lineColor: '#E9D120',
                                fillColor: '#E9D120'
                            }
                        }]
                });
            });

        });
</script>
}