﻿@model admin.Models.PFSPage
@{
    ViewBag.Title = "業績統計-依年度";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
        new RouteValueDictionary() { 
            { "action", "pfsbymonth" },
            { "token", Request.QueryString["token"].ToString() },
            { "year", Model.Year },
            { "brand" , Model.Brand },
            //{ "month", Model.Month },
        }).VirtualPath;

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }

}
@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")

@if (f.ToLower() == "table")
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>月份</td>
                <td>業績目標額</td>
                <td>實際業績</td>
                <td>業績達成率</td>
                <td>去年同期</td>
                <td>同期差異</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in Model.ByYearData)
            {
                var row_path = ViewContext.RouteData.Route.GetVirtualPath(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action", "pfsbymonth" },
                        { "token", Request.QueryString["token"].ToString() },
                        { "year", Model.Year },
                        { "brand" , Model.Brand },
                        { "month", row.Month },
                        { "format", "table" }
                    }).VirtualPath; 
                <tr>
                    <td>
                        <a href="@Url.Content("~/" + row_path)">
                            @row.Month
                        </a>
                    </td>
                    <td>@row.TargetAmt</td>
                    <td>@row.ActualAmt</td>
                    <td>@row.ReachRate</td>
                    <td>@row.LastYearAmt</td>
                    <td>@row.DiffLastYear</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <script type="text/javascript">
        var _targetary = @oseializer.Serialize(Model.ByYearData.Select(p => p.TargetAmt).ToArray());
        var _actualary = @oseializer.Serialize(Model.ByYearData.Select(p => p.ActualAmt).ToArray());
        var _lastyearary = @oseializer.Serialize(Model.ByYearData.Select(p => p.LastYearAmt).ToArray());

        var _category = @Html.Raw(oseializer.Serialize(Model.ByYearData.Select(p => p.Month).ToArray()));
        var _categoryDict = @Html.Raw(oseializer.Serialize(Model.ByYearData.Select(p => p.Month).ToDictionary(p => p.ToString(), p => p.ToString())));


        var _clickFunction = function (obj) { 
            var serName = obj.series.name;
            var _url = '@Html.Raw(Url.Content("~/" + path))&month=' + (obj.category);
            location.href= _url;
        };
            
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    exporting: {
                        buttons: {
                            printButton:{
                                enabled:false
                            },
                            exportButton: {
                                enabled:false
                            }
                        }
                    },
                    chart: {
                        renderTo: 'container'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: { title: { text: '' }  },
                    xAxis: {
                        categories: _category,
                        labels:{
                            formatter: function()
                            {
                                return this.value + '月';
                            }
                        }
                    },
                    tooltip: {
                        enabled:false,
                        formatter: function () {
                            var s;
                            if (this.point.name) { // the pie chart
                                s = '' +
                                    this.point.name + ': ' + this.y + ' fruits';
                            } else {
                                s = '' +
                                    this.x + ': ' + this.y;
                            }
                            return s;
                        }
                    },
                    labels: {
                        items: [{
                            html: '',
                            style: {
                                left: '40px',
                                top: '8px',
                                color: 'black'
                            }
                        }]
                    },
                    plotOptions:{
                        series: { 
                            point: { 
                                events: { 
                                    click: function() { 
                                        var obj = this;
                                        _clickFunction(obj);
                                    }
                                } 
                            }
                        }
                    },
                    series: [
                        {
                            type: 'column',
                            name: '實際值',
                            color: '#9DDA01',
                            data: _actualary
                        },
                        {
                            type: 'column',
                            name: '預估值',
                            color: '#DBFD51',
                            data: _targetary
                        },
                        {
                        type: 'spline',
                        name: '去年同期',
                        data: _lastyearary,
                        color: '#E9D120',
                        marker: {
                            lineWidth: 2,
                            //lineColor: Highcharts.getOptions().colors[3],
                            lineColor: '#E9D120',
                            fillColor: '#E9D120'
                        }
                    }]
                });
            });

        });
    </script>
}