﻿@using admin.Extensions;
@model admin.Models.PFSPage
@{
    ViewBag.Title = "業績統計-依月分";
    Layout = "~/Views/Shared/_ReportMaster.cshtml";
    System.Web.Script.Serialization.JavaScriptSerializer oseializer = new System.Web.Script.Serialization.JavaScriptSerializer();

    int Days = DateTime.DaysInMonth(Model.Year, Model.Month);
    string arycate = oseializer.Serialize(Days.GenerateArray());

    string f = string.Empty;
    if (Request.QueryString["format"] != null)
    {
        f = Request.QueryString["format"].ToString();
    }
}
@if (f.ToLower() == "table")
{
    <script type="text/javascript">
        $(function(){
            $('#container').remove();
        });
    </script>
    <table class="rptable">
        <thead>
            <tr>
                <td>日期</td>
                <td>業績目標額</td>
                <td>實際業績</td>
                <td>業績達成率</td>
                <td>去年同期</td>
                <td>同期差異</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in Model.ByMonthData)
            {
                <tr>
                    <td>@row.Day</td>
                    <td>@row.TargetAmt</td>
                    <td>@row.ActualAmt</td>
                    <td>@row.ReachRate</td>
                    <td>@row.LastYearAmt</td>
                    <td>@row.DiffLastYear</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <script type="text/javascript">
        var _actualary = @oseializer.Serialize(Model.ByMonthData.Select(p => p.ActualAmt).ToArray());
        var _lastyearary = @oseializer.Serialize(Model.ByMonthData.Select(p => p.LastYearAmt).ToArray());
        var _xAxis = @Html.Raw(arycate);
            
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    exporting: {
                        buttons: {
                            printButton:{
                                enabled:false
                            },
                            exportButton: {
                                enabled:false
                            }
                        }
                    },
                    chart: {
                        renderTo: 'container'
                    },
                    title: {
                        text: ''
                    },
                    yAxis: { title: { text: '' }  },
                    xAxis: {
                        categories: _xAxis,
                        labels:{
                            formatter:function()
                            {
                                return this.value;
                            }
                        }
                    },
                    tooltip: {
                        formatter: function () {
                            var s;
                            if (this.point.name) { // the pie chart
                                s = '' +
                                    this.point.name + ': ' + this.y + ' fruits';
                            } else {
                                s = '' +
                                    this.x + ': ' + this.y;
                            }
                            return s;
                        }
                    },
                    labels: {
                        items: [{
                            html: '',
                            style: {
                                left: '40px',
                                top: '8px',
                                color: 'black'
                            }
                        }]
                    },
                    series: [
                        {
                            type: 'column',
                            name: '實際值',
                            color: '#9DDA01',
                            data: _actualary
                        },
                        {
                        type: 'spline',
                        name: '去年同期',
                        data: _lastyearary,
                        color: '#E9D120',
                        marker: {
                            lineWidth: 2,
                            //lineColor: Highcharts.getOptions().colors[3],
                            lineColor: '#E9D120',
                            fillColor: '#E9D120'
                        }
                    }]
                });
            });

        });
    </script>
}