﻿@{
    string _Controller = Request.RequestContext.RouteData.Values["controller"].ToString();
    
    string _AreaName = null;

    if (ViewContext.RouteData.DataTokens.ContainsKey("area"))
    { 
        _AreaName = ViewContext.RouteData.DataTokens["area"].ToString();
        _Controller = _AreaName + "/" + _Controller; 
    }

    string _Action = Request.RequestContext.RouteData.Values["action"].ToString();
    string _Model = "add";

    if (_Action.ToLower()=="edit" || _Action.ToLower() == "update")
    {
        _Model = "edit";
    }
}


@model admin.Models.CustomerContactInfoModel
    <div class="editArea">
		@Html.ValidationSummary(true, "新增失敗")
        <table class="table">
            <tbody>
                <tr>
					<td width="20%">
                        流水編號
					</td>
					<td>
                        @Model.Id.ToString()
					</td>
				</tr>

				<tr>
					<td>
                        客戶
					</td>
					<td>
                        @Model.CustomerName
                        @Html.HiddenFor(p => p.Number)
                        <span>( @Model.Number )</span>
@*                        <input type="button"  value="選擇" onclick="openWindow('@Url.Content("~/Employee/Selector")', 'customer', 250, 250)" />*@
                        @Html.ValidationMessageFor(p => p.Number)
					</td>
				</tr>

                <tr>
					<td>
                        暱稱
					</td>
					<td>
						@Html.TextBoxFor(p => p.Nick, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Nick)
					</td>
				</tr>

				<tr>
					<td>
                        稱職
					</td>
					<td>
						@Html.TextBoxFor(p => p.IdentityTitle, new { @class = "span3", size = "30"})
						@Html.ValidationMessageFor(p => p.IdentityTitle)
					</td>
				</tr>

				<tr>
					<td>
                        身份證字號
					</td>
					<td>
						@Html.TextBoxFor(p => p.IdentityNum, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.IdentityNum)
					</td>
				</tr>
				<tr>
					<td>
                        Email
					</td>
					<td>
						@Html.TextBoxFor(p => p.Email, new { @class = "span5", size = "30"})
						@Html.ValidationMessageFor(p => p.Email)
					</td>
				</tr>
				<tr>
					<td>
                        電話 
					</td>
					<td>
						@Html.TextBoxFor(p => p.Tel, new { @class = "span3", size = "30"})
						@Html.ValidationMessageFor(p => p.Tel)
					</td>
				</tr>
            </tbody>
        </table>
    </div>

	
    <div class="BTNcenter">
        <input type="submit" class="btn" id="btn_submit" name="btn_submit" value="儲存送出" onclick="javascript:return confirm('確定儲存送出嗎?');">
        <input type="button" class="btn" id="btn_cancle" name="btn_cancle" value="取消變更" onclick="javascript:if (confirm('確定取消變更嗎?')){window.location.href='@Url.Content("~/" + _Controller + "/List?SearchText=" + Model.Number)';}">
    </div>