﻿@model admin.Models.CustomerContactInfoListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string AddUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "add" }
                    }).VirtualPath;

    string _Controller = string.Empty;

    if (ViewContext.RouteData.Values["Controller"] != null)
    {
        _Controller = ViewContext.RouteData.Values["Controller"].ToString();
    }
}
<div class="well">
     @using (Html.BeginForm("List", _Controller, FormMethod.Get))
    {
    @Html.TextBoxFor(p => p.SearchText, new { @class = "input-medium", style="margin-bottom:0px;" })
    <input type="submit" class="btn" value="查詢" />
    }
</div>
@if (TempData["error"] != null)
{
    <div class="alert">
@*        <button type="button" class="close" data-dismiss="alert">&times;</button>*@
    <strong></strong> @TempData["message"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th> </th>
            <th>客戶編號</th>
            <th>姓名</th>
            <th>職稱</th>
            <th>Email</th>
            <th>電話</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Data != null)
        {
            if (Model.Data.Count == 0)
            {
                <tr class="info">
                    <td colspan="6">查無資料</td>
                </tr>
            }
            foreach (var Row in Model.Data)
            {
                string EditUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                    new RouteValueDictionary() { 
                        { "action" , "edit" },
                        { "id" , Row.Number }
                    }).VirtualPath;
                string DeleteUrl = RouteTable.Routes.GetVirtualPathForArea(ViewContext.RequestContext,
                   new RouteValueDictionary() { 
                        { "action" , "delete" },
                        { "id" , Row.Number }
                    }).VirtualPath;

                <tr>
                    <td style="width:200px;">
                        <a class="btn" href="@Url.Content(EditUrl)" title="修改"> <i class="icon-file"></i></a>
                    </td>
                    <td>@Row.Number</td>
                    <td>@Row.Name<text>(</text>@Row.Nick<text>)</text></td>
                    <td>@Row.IdentityTitle</td>
                    <td>@Row.Email</td>
                    <td>@Row.Tel</td>
                    <td>
                        <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content(DeleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="info">
                <td colspan="6">查無資料</td>
            </tr>
        }
    </tbody>
</table>
@*@Html.Partial("_Pager", (admin.Models.PagerModel)Model)*@

<div class="pagination pagination-centered">
    <ul>
    @Html.Pager(Model.PageSize, Model.Page, Model.TotalRecords).Options(o => o
        .DisplayTemplate("PagerTemplate")
        .AddRouteValue("PageSize", Model.PageSize)
        )
    </ul>
</div>