﻿@model admin.Models.SmartSchedulinListModel
@{
    Layout = "~/Views/Shared/_OpenWindowPageLayout.cshtml";
    //資料的年月
    DateTime ModelDate = new DateTime(Model.Year, Model.Month, 1);
}

        @if (Model.Data != null)
        {
            <table class="table">

                <thead>
                    <tr>
                        <td style="width:60px">客戶編號</td>
                        <td>客戶名</td>
                        <td style="width:30px"></td>
                    </tr>
                </thead>

                <tbody>
                @if (Model.Data.Count() == 0)
                {
                    <tr>
                        <td colspan="3">暫無資料</td>
                    </tr>
                }
                @foreach (var i in Model.Data)
                {

                    <tr>
                        <td>@i.Number</td>
                        <td>@i.CustomerName</td>
                        <td> 
                            @if (ModelDate > DateTime.Now.AddMonths(-1))
                            {
                                string _deleteUrl = ViewContext.RouteData.Route.GetVirtualPath(
                                ViewContext.RequestContext,
                                new RouteValueDictionary() { 
                                    { "action", "Delete"},
                                    { "year", Model.Year },
                                    { "month", Model.Month },
                                    { "empsn", Model.EmpSN },
                                    { "ChildKpiItemId", Model.ChildKpiItemId },
                                    { "id", i.Id }
                                }).VirtualPath;
                            <a class="btn btn-danger" href="javascript:;"
                            onclick="javascript:if (confirm('確定要刪除嗎?')) { location.href='@Url.Content("~/" + _deleteUrl)';};"> 
                            <i class="icon-trash icon-white"></i></a>
                            }
                        </td>
                    </tr>
                }
                </tbody>

            </table>
        }
        

        @if (ModelDate > DateTime.Now.AddMonths(-1))
        {
        <div class="navbar-fixed-bottom well form-inline" style="z-index:1">
        @using (Html.BeginForm("Create", "SmartScheduling", FormMethod.Post))
        {
            @Html.HiddenFor(p => p.EmpSN)
            @Html.HiddenFor(p => p.Year)
            @Html.HiddenFor(p => p.Month)
            @Html.HiddenFor(p => p.ChildKpiItemId)
            @Html.TextBoxFor(p => Model.EditViewModel.Number, new { placeholder = "請輸入客戶名稱" })
            @Html.ValidationMessageFor(p => p.EditViewModel.Number)
            <input type="submit" class="btn" value="新增" />
        }

        </div>
        <script type="text/javascript">
            $(function () {
                if (typeof (jamzoo.regauto) == "function") {
                    jamzoo.regauto($('#EditViewModel_Number'), '@Url.Content("~/Customer/SearchByName")', 1);
                }

                $('#EditViewModel_Number').focus();

                if (_action == '1') {   //客戶數增加一
                    increase();
                }
                else if (_action == '2') {  //客戶數減少一

                    decresase();
                }
            });

            var _parentCountId = '@string.Format("{0}{1}{2}{3}", Model.Year, Model.Month, Model.EmpSN, Model.ChildKpiItemId)';
            var $_parentObj = $(window.opener.document.getElementById(_parentCountId));
            var _action = '@(TempData["customerCountAction"] != null ? TempData["customerCountAction"].ToString():"none")';

            function increase() {
                var _o = parseInt($_parentObj.text());
                $_parentObj.text(_o + 1);

            }
            function decresase() {
                var _o = parseInt($_parentObj.text());
                $_parentObj.text(_o - 1);
            }
        </script>
        }
