﻿@model admin.Models.KpiSettingPage
@{
   DateTime currentDate = DateTime.Now.Date;
   int CurrentYear = Model.Year;
}
    
@if (Model.Data != null)
{
    
    using (Ajax.BeginForm("Update", new AjaxOptions() {
        UpdateTargetId = "alert01",
        OnBegin="$('#prog1').show();",
        OnComplete = "$('#prog1').hide()"
    }))
    {
    @Html.HiddenFor(p => p.Year)
    @Html.HiddenFor(p => p.EmpSN)
    <h3>@Model.Year 年度</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td width="100px">月</td>
                @for (int i = 1; i <= 12; i++)
                {
                    <td>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</td>
                }
            </tr>
        </thead>
        <tbody>

        @for (int i = 0; i < Model.Data.Count; i++)
        {
        <tr>
            <td>
@*                @Model.Data[i].KpiItemRootName<br />*@
                @Model.Data[i].KpiItemName 
                
                @Html.HiddenFor(p => p.Data[i].KpiItemId)
                @Html.HiddenFor(p => p.Data[i].KpiItemName)
            </td>

            @for (int j = 0; j < Model.Data[i].Data.Count; j++)
            {
                DateTime thisDate = new DateTime(CurrentYear, Model.Data[i].Data[j].Month, 1);
                <td>
                    @Html.HiddenFor(p => p.Data[i].Data[j].Month)
                    @if (Model.Data[i].Data[j].Month < DateTime.Now.Month)
                    {
                        @Html.TextBoxFor(p => p.Data[i].Data[j].EstimateAmt, new { @class="span10", disabled="disabled" })
                        @Html.TextBoxFor(p => p.Data[i].Data[j].ActualAmt, new { @class="span10" })
                        @Html.HiddenFor(p => p.Data[i].Data[j].EstimateAmt)
                    }
                    else
                    {
                        @Html.TextBoxFor(p => p.Data[i].Data[j].EstimateAmt, new { @class="span10" })
                        @Html.TextBoxFor(p => p.Data[i].Data[j].ActualAmt, new { @class="span10" })
                    }
                    @{
                    string _url = ViewContext.RouteData.Route.GetVirtualPath(
                        ViewContext.RequestContext,
                        new RouteValueDictionary() { 
                                    { "controller", "smartscheduling" },
                                    { "action", "index" },
                                    { "year", Model.Year },
                                    { "month", Model.Data[i].Data[j].Month },
                                    { "EmpSN", Model.EmpSN },
                                    { "ChildKpiItemId", Model.Data[i].KpiItemId }
                                }).VirtualPath;
                    }
                    <a href="javascript:openWindow('@Url.Content("~/" + _url)', 'test', 350, 500);">客戶(
                        <span id="@string.Format("{0}{1}{2}{3}", Model.Year, Model.Data[i].Data[j].Month, Model.EmpSN, Model.Data[i].KpiItemId)">@Model.Data[i].Data[j].CustomerCount</span>
                        )</a>
                </td>
            }
        </tr>
        }
        </tbody>
    </table>

    <input type="submit" value="更新" class="btn" />
    <div id="alert01" class="label label-success"></div>
    }
}