﻿@model admin.Models.KpiSettingPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime currentDate = DateTime.Now.Date;
    int CurrentYear = Model.Year;
}

<div class="well">
    @using (Ajax.BeginForm("List", null,
        new AjaxOptions()
        {
            UpdateTargetId = "KpiGrid",
            OnBegin="$('#prog1').show();",
            OnComplete = "$('#prog1').hide()"
        }, new { @class = "form-inline" }))
    {
        <text>品牌：</text>@Html.DropDownListFor(p => p.Brand, Model.BrandList, new { @class = "span2" })  
        if (Model.EmpList != null)
        {
        <text>業務：</text>@Html.DropDownList("EmpSN", Model.EmpList, new { })  
        }
        <text>年度：</text>@Html.DropDownList("Year", Model.Years, new { })
        <input type="submit" class="btn" value="查詢" />
    }
</div>
<div id="KpiGrid">
@Html.Partial("_Grid", Model)
</div>

    <div id="prog1" class="progress progress-striped" style="display:none">
      <div class="bar" style="width: 100%;"></div>
    </div>